{% extends "base.html" %}{% load url from future %}
{% load humanize %}

{% block title %}Appianamento &raquo; {{ block.super }}{% endblock %}

{% block header %}
	{{ block.super }}
{% endblock header %}

{% block content %}
<h1>Appianamento classifiche</h1>

<form method="post" action="">
	{% csrf_token %}
<div>
		<p>
			Minimizza tutte le classifiche al livello degli ultimi.
		</p>
		{% if flat_needed %}
		Minimi:
		<p>
			{% for key, value in minimi.items %}
				Tolgo {{ value }} ai {{key}}<br/>
			{% endfor %}
		</p>
		<input type="submit" name="flat" value="Appiana" class='bigButton' /><br/>
		(attenzione, l'azione è irreversibile).<br/>
		{% else %}
			<h2>Non è necessario appianare le classifiche.</h2>
			Tutti gli ultimi hanno 0 punti.<br>
		{% endif %}

		
	
</div>
</form>

<a href="{% url "tamArchiveUtil" %}">Torna agli strumenti di archiviazione</a>
{% endblock content %}
