{% extends "base.html" %}

{% block title %}Strumenti per l'archiviazione &raquo; {{ block.super }}{% endblock %}

{% block header %}
	{{ block.super }}
<script type="text/javascript">
$( function() {
	$("#id_end_date").datepicker( {maxDate: '-1m'} );
});
</script>
{% endblock header %}

{% block content %}
<h1>Archiviazione.</h1>

<form method="post" action="{% url tamArchiveAction  %}">
<div>
	<h2>Archivio corse</h2>
	
		Archivia tutte le corse ed i log fino al {{ form.end_date }} mantenendo le classifiche inalterate.<br/>
		<input type="submit" name="preview" value="Anteprima archiviazione" /><br/>
	
	<a href="{% url tamArchiveView %}"><strong>Consulta qui tutte le corse archiviate.</strong></a>
</div>
</form>

<br/>

<form method="post" action="{% url tamArchiveFlat %}">
<div>
	<h2>Appianamento delle classifiche</h2>
	Minimizza tutte le classifiche.<br/>
	<input type="submit" name="preview" value="Anteprima dell'appianamento" />
</div>
</form>
{% endblock content %}