#fatturaHtml {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	margin: 0;
	padding: 0;
}
.editable, .editable * {
	background-color: #eee;
	margin:0; padding:0;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10pt;
}
div.editable, .pre {
	white-space: pre-line;
}
.editable textarea {
	width:100%;
}
td.editable input { width:100%; }
#fat_note {
	padding:10px;
	margin: 10px;
	margin-right: 350px;
}
#fat_logo {
	margin:30px 0;
	width: 500px;
	max-width: 40%;
}
#fat_mittente {
	float: right;
	padding: 20px;
	margin:10px 0;
	width: 300px;
}
#fat_destinatario {
	clear: right;
	float: right;
	width: 300px;
	padding: 20px;
	margin:10px 0;
	border: 1px solid black;
	border-radius: 20px;
}
#righe {
	clear: both;
	margin-top: 50px;
	border: 2px solid black;
	width: 100%;
}
#righe tr {
	border: 1px solid silver;
}
#righe td {
	padding: 5px;
	
}
#totale {
	float: right;
	padding: 30px;
	width: 300px;
}

#fat_footer {
}
#fat_footer #privacy {
	padding-top: 15px;
	margin: 0 auto;
	font-size: 8pt;
}
