.morning{
	float: left;
	padding:0 3px;
}
.evening{
	float: right;
	padding:0 3px;
}
.tablesorter {
	font-family:arial;
	background-color: #CDCDCD;
	margin:10px 0pt 15px;
	width: 100%;
	font-size:8pt;
	text-align: left;
}
.tablesorter th {
	background-color: #fed587;
	border: 1px solid #FFF;
	padding: 4px;
}
.tablesorter td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #ffffff;
}
.notePasseggero{
	background-color:lightyellow;
}
body {
	text-align:center;
	background:white url(../v-grad-yellow.png);
    background-repeat: repeat-x;
    background-attachment: fixed;
}

a, a:visited {color:green}
a:hover{ color:blue; }

.loghetto {
	border:3px;
	margin:0; padding:0;
	position:absolute;
	top:2px;
	right:10px;
}

.navBar {
	text-align:left;
	background: white url(../header_fade.png);
	background-repeat: repeat-x;
    background-position: top;
	/*max-width: 100%;*/
	min-width: 600px;
	left:38px; right:38px;
	top:0px;
	margin:0;
	/*margin: 0 30px auto;*/
	padding: 3px 10px;
	border: medium rgb(255,204,102) groove;
	font-weight: bold;
	position:fixed;
	z-index:900;
}

#footer {
    text-align: left;
    margin:0 30px auto;
    max-width: 100%;
    min-width: 600px;
    font-size: .7em;
	font-family: sans-serif;
}

.navBar .menuGroup {
	margin-right:1.8em;
}

.content {
    max-width: 100%;
    min-width: 600px;
	text-align: justify;
	background:white url(../v-grad-inv.png);
	background-repeat: repeat-x;
    background-position: bottom;
	margin:2em 30px auto;
	padding: 5px 10px 40px 10px;
    border: medium rgb(255,204,102) groove;
}

.mainlogo {	margin:0; }
.mainlogo img{ margin:0; padding:0;}

h1 .maintitle{
	text-align:center;
	color: #FF7800;
    font-family: verdana;
    margin-bottom:0;
    padding:0;
    background:red;
}

h2 {
	font-size:1.1em;
	margin-top:0;
	margin-bottom:0;
}

.credits {
	/* il link ai credits nel footer */
	float:right; margin:0
}
.credits a{
	text-decoration:none;
	color:black;
}

.errorlist li, .errorlist{
    color: red;
    font-weight: bold;
    list-style: none;
    padding:0;
    margin:0;
}
.errorlist {margin-bottom:0}
a.errorlist {color:red;}

form p {margin-top:0}

form label {
    font-weight: bold;
}

p img { /* Keep the images (buttons) centered */
	vertical-align: text-bottom;
}

p textarea{
	vertical-align:text-top;
	height:5em;
}

a img{
	border:0;
}

form input {
    margin-right: 1em;
}

form {
	font-size: .8em;
    font-family: sans-serif;
}

.buttons {
    text-align: center;
}

#id_numero_passeggeri{ /* l'input per i passeggeri è più corto */
	width: 3em;
}

.messagebox{
	margin:0 auto;
	padding:0;
	position:fixed;
	right:150px; left:150px;
	font-size:smaller;
	text-align:center;
	background:#ffffcc;
	border:1px #5D7671 solid;
	list-style:none;
	cursor: pointer;
	color:#5D7671;
	font-weight:bolder;
	z-index: 1000;
}

.messagebox li{
	padding:3px;
}

td img {vertical-align: middle;}

.trip_detail {
    font-size: smaller;
}

.hbar {
    border: 1px black solid;
    height: 10px;
}

.bighour {
	font-size:200%;
}
.middlehour {
	font-size:1.5em;
}

.row1 td{
}
.row2 td{
	background-color:red; /*#f9f9f9;*/
}

.warning td {
	background:white url(../v-grad-red.png);
	background-repeat: repeat-x;
	background-position: bottom;
}

.inattivo td {
	background-color:plum !important;
}

.partenza {
	background:lightgreen !important;
	border:1px solid green;
	text-align:center;
	font-size:larger;
}

.arrivo {
	background:tomato !important;
	border:1px solid #b70000;
	text-align:center;
	font-size:larger;
}
.cliente{
	font-size:larger;
	font-weight:bolder;
}

#selActions{
	display:none;
	background:white;
	text-align:center;
	position:fixed;
	top:100px;
	left:2px;
	border: silver 2px ridge;
}
.countblock{
	clear:both;
	float:right;
	font-size:smaller;
}
.countblock a{
	text-decoration:none;
}

.countblock .page {
	padding-left:10px;
	padding-right:10px;
	border:1px solid silver;
}
.countblock .blankpage {
	padding-left:10px;
	padding-right:10px;
}


.countblock .selected {
	background:silver;
	color:black;
}
#filterForm { margin:0; padding:0;}

#id_note {
	width:90%;
	height:10em;
}

#esclusivoBlock { display:inline; }
#esclusivoBlock ul{ /* la choice blocco esclusivo */
    list-style-type: none;
}
#esclusivoBlock li{ /* la choice blocco esclusivo */
    display: inline;
}

.btnbox {
	background:white url(../v-grad-inv.png);
	background-repeat: repeat-x;
    background-position: bottom;
	text-align:center;
	float:left;
	width:120px;
	height:100px;
	padding:10px;
	margin:10px;
	border: 2px ridge black;
}

.btnbox img {
	margin:0 auto;
	margin-top: 6px;
	display: block;
	text-align: center;
}

.super {
	border-color: red;
}

.bigButton{
	width:400px;
	font-size:larger;
}

.today{
	font-size: 1.2em;
	font-weight:bold;
}

.viaggioId {
	/* i checkbox per selezionare i viaggi nella lista corse */
	display:block;
	margin:0 auto;
}
.accordhead {
	/* La testa cliccabile nei div simili agli accordion */
	font-size:1.5em;
	cursor:pointer;
	padding: 20px 0 20px 0;
	text-decoration: underline;
}
.lordo {
	/* span con il prezzo lordo */
	font-weight: bold;
	font-size: 1.2em; /* era 1.1 */
}
.advFilters input {
	/* il filtro data avanzato, abbrevio gli input */
	width:75px;
}

.floatingBlock {
	/* i div galleggianti con degli strumenti */
	position:absolute; left:2px; text-align:center; padding:10px; width:30px;
}

/* colori indicatori di fattura */
h2.fatturaTipo1 {
	color: #0080ff;
}
.fatturaTipo1 th {
	background: #0080ff;
}
.fatturaTipo1 input {
	background: #0080ff;
	padding:10px;
	width:100%;
	font-size:1.2em;
}
.fatturaTipo1 table {
	border: 3px solid #0080ff;
}

h2.fatturaTipo2 {
	color: #8000ff;
}
.fatturaTipo2 th {
	background: #8000ff;
}
.fatturaTipo2 input {
	background: #8000ff;
	padding:10px;
	width:100%;
	font-size:1.2em;
}
.fatturaTipo2 table {
	border: 3px solid #8000ff;
}

h2.fatturaTipo3 {
	color: #008000;
}
.fatturaTipo3 th {
	background: #008000;
}
.fatturaTipo3 input {
	background: #008000;
	padding:10px;
	width:100%;
	font-size:1.2em;
}
.fatturaTipo3 table {
	border: 3px solid #008000;
}

.dati {
	/* i dati di clienti nelle tabelle */
	white-space:pre-line;
	color: gray;
}
.prezzo {
	text-align: right;
}
#fatturaHtml {
	width:100%;
}
.cellaPrezzo a {
	font-weight: bold;	/*nella cella prezzo, i link (il netto) sono in grossetto */ 
}

.actionButton {
	cursor:pointer;
}

@media print {	/* print stylesheet */
	* {font-size:8pt;}
	body {
		background: white;
	}
	.content { border: 0px; margin:0; padding:0; background:white;}
	.noprint { display:none; }
}