.manu-title{
	background:#ddd;
	font-size: 1.2em;
	margin-top:0.8em;
}
.token {
	font-family: sans-serif;
	font-size:0.8em;
	padding:2px;
	white-space:nowrap;
}
.manu-table {margin:10px;}
.manu-table th {background: #ddd}
.manu-table td {border:1px solid; padding:.2em}
