{% load media %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="it">
<head>
	<title>{% block title %}TaM{% endblock %}{% if tam_stealth %} - Stealth version{% endif %}</title>
	<meta http-equiv="content-type" content="text/xhtml+xml; charset=utf-8"/>
	{% if not tam_stealth %}<link rel="icon" href="{% media_url "tam.ico" %}" type="image/ico"/>{% endif %}
	{% if mediabundle %}
		{% for bundle in mediabundle %}{%include_media bundle %}{% endfor %}
	{% else %}
		{% include_media 'tam.css' %}
		{% include_media 'tambase.js' %}
	{% endif %}
	{% block css %}
		{% if tam_stealth %}{% include_media 'tam-stealth.css' %}{% endif %}
	{% endblock %}	
	{% block header %}{% endblock header %}
 </head>

<body>
{% block titleContent %}{% endblock %}
{% block superNavBar %}
<div class="navBar">
	{% block navBar %}
		{% block corse %}<a href="/" class='menuGroup'>TaM</a>
		{% if perms.tam.add_viaggio %}
			<span style="margin-left:-1.8em;">&raquo; <a href="{% url tamNuovaCorsa %}" class='menuGroup'>
			<img src="{% media_url "addbtn.png" %}" alt=""/> Nuova corsa</a>
			</span>
		{% endif %}
		{% endblock corse%}
		{% block luoghi %}<a href="{% url tamLuoghi %}" class='menuGroup'>Tratte e Luoghi</a>{% endblock %}
		{% block clienti %}<a href="{% url tamListini %}" class='menuGroup'>Clienti</a>{% endblock %}
		{% block conducenti %}<a href="{% url tamConducenti %}" class='menuGroup'>Classifiche</a>{% endblock %}
		{% block util %}<a href="{% url tamUtil %}" class='menuGroup'>Strumenti</a>{% endblock %}
		{% if request.user.is_superuser %}
			{% block fatture %}<a href="{% url tamGenerazioneFatture %}" class='menuGroup'>Fatture</a>{% endblock %}
		{% endif %}
		{% if not tam_stealth %}<img src="{% media_url "minilogo.gif" %}" class="loghetto" alt="" />{% endif %}
	{% endblock navBar %}
	{% block topContent %}{% endblock %}
</div>
{% endblock superNavBar %}
<div class="content">
    {% if messages %}
		<ul class="messagebox">
			{% for message in messages %}
				<li class="message">{{ message }}</li>
			{% endfor %}
		</ul>
	{% endif %}
	{% block content %}{% endblock %}
</div>

<div id="footer">
	{% block authblock %}
    {% if request.user.is_authenticated %}
		Sei connesso come <a href="{% url change_password %}">{{ request.user }}</a> - <a id='logout' href="{% url logout %}">disconnettiti</a>
		{% if user.is_superuser %} - <a href="/admin/">amministrazione</a>{% endif %}
    {% else %}
		Stai accedendo come utente non registrato. <a href="{% url login %}">Fatti riconoscere</a>.
    {% endif %}
	{% endblock authblock %}
	
	<p class="credits">
		<a href="{% url tam_changelog %}">TaM v.{{ tam_version }}</a>.
	    {% if license_expiration %}
				Versione di prova {% if license_valid %}valida fino al{% else %}scaduta il{% endif %} {{ license_expiration|date:"j F Y" }}.
        {% endif %}
	    {% if license_owner %}
			{{ license_owner }}.
        {% else %}
            Versione non registrata.
        {% endif %}
		<a href="mailto:dario.varotto@gmail.com">by Dario Varotto</a>
	</p>
</div>
	{% if form and not dontHilightFirst %}
		<script type="text/javascript">
	      $(document).ready(function() {
	          $('input:first').focus(); // focus on first input
	      });
		</script>
	{% endif %}
	{% block bottom %}{% endblock bottom %}
</body>
</html>
