{% load staticfiles %}{% load pipeline %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}TaM{% endblock %}{% if tam_stealth %} - Stealth version{% endif %}</title>
	<meta http-equiv="content-type" content="text/xhtml+xml; charset=utf-8"/>
	<!--[if ie]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" /><![endif]-->
	{% if not tam_stealth %}<link rel="icon" href="{% static "img/tam.ico" %}" type="image/ico"/>{% endif %}
	<link rel="stylesheet" type="text/css" href="{% static 'tam_sprites.css' %}"/>
	{% if mediabundleCSS %}
		{% for bundle in mediabundleCSS %}{% stylesheet bundle %}{% endfor %}
	{% else %}
		{% stylesheet 'tam' %}
	{% endif %}

	{% block css %}
		{% if tam_stealth %}{% stylesheet 'tam-stealth' %}{% endif %}
		<style>
			body{
				background-color: {{ TAM_BACKGROUND }}
			}
		</style>
	{% endblock %}

	{% block header %}{% endblock header %}
 </head>

<body class="{% block bodyClasses %}{% endblock %}">
{% include "google_analytics.inc.html" %}
{% block titleContent %}{% endblock %}
{% block superNavBar %}
<div class="navBar noprint">
	{% block navBar %}
		{% block corse %}<a href="/" class='menuGroup'>TaM</a>
		{% if perms.tam.add_viaggio %}
			<span>&raquo; <a href="{% url "tamNuovaCorsa" %}" class='menuGroup'>
				<i class="sprite icon-addbtn"></i> Nuova corsa</a>
			</span>
		{% endif %}
		{% endblock corse%}
		{% block luoghi %}<a href="{% url "tamLuoghi" %}" class='menuGroup'>Tratte e luoghi</a>{% endblock %}
		{% block clienti %}<a href="{% url "tamListini" %}" class='menuGroup'>Clienti</a>{% endblock %}
		{% block conducenti %}<a href="{% url "tamConducenti" %}" class='menuGroup'>Classifiche</a>{% endblock %}
		{% block util %}<a href="{% url "tamUtil" %}" class='menuGroup'>Strumenti</a>{% endblock %}

		<i class="sprite icon-tam_16 loghetto"></i>
	{% endblock navBar %}
	{% block topContent %}{% endblock %}
</div>
{% endblock superNavBar %}
<div class="content">
    {% if messages %}
		<div class="messages">
			{% for message in messages %}
				<div class="alert{% if message.tags %} {{ message.tags }}{% endif %}">
					{{ message }}
				</div>
			{% endfor %}
		</div>
	{% endif %}
	{% block content %}{% endblock %}
</div>

{% block footer %}
<div id="footer" class='noprint'>
	{% block authblock %}
    {% if request.user.is_authenticated %}
		Sei connesso come <a href="{% url "change_password" %}">{{ request.user }}</a> - <a id='logout' href="{% url "logout" %}">disconnettiti</a>
		{% if user.is_superuser %} - <a href="/admin/" target="_blank">amministrazione</a>{% endif %}
    {% else %}
		Stai accedendo come utente non registrato. <a href="{% url "login" %}">Fatti riconoscere</a>.
    {% endif %}
	{% endblock authblock %}

	<p class="credits">
		<a href="{% url "tam_changelog" %}">TaM v.{{ tam_version }}</a>.
	    {% if license_expiration %}
				Versione di prova {% if license_valid %}valida fino al{% else %}scaduta il{% endif %} {{ license_expiration|date:"j F Y" }}.
        {% endif %}
	    {% if license_owner %}
			{{ license_owner }}.
        {% else %}
            Versione non registrata.
        {% endif %}
	</p>
</div>
{% endblock footer %}

	{% if mediabundleJS %}
		{% for bundle in mediabundleJS %}{% javascript bundle %}{% endfor %}
	{% else %}
		{% javascript 'tam' %}
	{% endif %}
	{% if form %}{{ form.media }}{% endif %}
	{% block bottom %}{% endblock bottom %}
	{% if form and not dontHilightFirst %}
		<script type="text/javascript">
	      $(document).ready(function() {
			  $('input:not([type=hidden]):first').focus(); // focus on first input
	      });
		</script>
	{% endif %}
{#<script type="application/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.js"></script>#}
</body>
</html>
