<div>
<h2><a href="#">Doppi Padova</a></h2>
<div>
<table class="tablesorter">
	<thead>
	    <tr>
		<th></th>
		<th>Nome</th>
		<th>Valore</th>
	    </tr>
	</thead>

	<tbody>
	    {% for classifica in classifiche|dictsort:"prezzoDoppioPadova" %}
		<tr {% if not classifica.conducente.attivo %} class="inattivo"{% endif %}>
		    <td style="width:130px;">
			<img alt="" class="hbar" src="/media/hbar.png" width="{% widthratio classifica.prezzoDoppioPadova prezzoDoppioPadovaMax 130 %}" />
		    </td>
		    <td>{{ classifica.conducente }}</td>
		    <td>{{ classifica.prezzoDoppioPadova }}€</td>
		</tr>
	    {% endfor %}
	</tbody>
    </table>
</div>
</div>