<div>
<h2><a href="#">Venezia (&gt;=50km)</a></h2>
<div>
<table class="tablesorter">
    <thead>
	<tr>
	    <th></th>
	    <th>Nome</th>
	    <th>Valore</th>
	</tr>
    </thead>

    <tbody>
	{% for classifica in classifiche|dictsort:"prezzoVenezia" %}
	    <tr {% if not classifica.conducente.attivo %} class="inattivo"{% endif %}>
		<td style="width:130px;">
		    <img alt="" class="hbar" src="/media/hbar.png" width="{% widthratio classifica.prezzoVenezia prezzoVeneziaMax 130 %}" />
		</td>
		<td>{{ classifica.conducente }}</td>
		<td><a href="{% url tamCorse %}?filterConducente={{ classifica.conducente_id }}&amp;filterType=Venezia">{{ classifica.prezzoVenezia }}€</a></td>
	    </tr>
	{% endfor %}
    </tbody>
</table>
</div>
</div>

<div>
<h2><a href="#">Padova [&gt;16€, &lt;50km]</a></h2>
<div>
<table class="tablesorter">
    <thead>
	<tr>
	    <th></th>
	    <th>Nome</th>
	    <th>Valore</th>
        </tr>
    </thead>

    <tbody>
	{% for classifica in classifiche|dictsort:"prezzoPadova" %}
	    <tr {% if not classifica.conducente.attivo %} class="inattivo"{% endif %}>
		<td style="width:130px;">
		    <img alt="" class="hbar" src="/media/hbar.png" width="{% widthratio classifica.prezzoPadova prezzoPadovaMax 130 %}" />
		</td>
		<td>{{ classifica.conducente }}</td>
		<td><a href="{% url tamCorse %}?filterConducente={{ classifica.conducente_id }}&amp;filterType=Padova">{{ classifica.prezzoPadova }}€</a></td>
	    </tr>
	{% endfor %}
    </tbody>
</table>
</div>
</div>