<form action="" method="get" id="filterForm">
	<div style="float:right;">
			{#{% if request.user.is_staff %}#}
				<a href="?format=xls">
					<img src='/media/ico_excel.gif' alt='Excel' />
				</a>
			{#{% endif %}#}
			<select name="filterCliente" class="selectFilter" style="width:100px;">
			    <option value="">Tutti i clienti</option>
			    <option value="Privato"{% ifequal "Privato" filterCliente %} selected="selected"{% endifequal %}>Privato</option>
			    {% for cliente in clienti %}
					<option value="{{ cliente.id }}"{% ifequal cliente.id filterCliente %} selected="selected"{% endifequal %}>{{ cliente }}</option>
				{% endfor %}
	        </select>


			<select name="filterConducente" class="selectFilter">
			    <option value="">Tutti i conducenti</option>
			    <option value="Non confermate"{% ifequal "Non confermate" filterConducente %} selected="selected"{% endifequal %}>Non confermate</option>
			    {% for conducente in conducenti %}
					<option value="{{ conducente.id }}"{% ifequal conducente.id filterConducente %} selected="selected"{% endifequal %}>{{ conducente }}</option>
				{% endfor %}
	        </select>
	        
			<select name="filterType" class="selectFilter">
				<option value="Tutti i tipi">Tutti i tipi</option>
			    {% for valore in filtriTipo %}
					<option value="{{ valore }}"{% ifequal valore filterType %} selected="selected"{% endifequal %}>{{ valore }}</option>
				{% endfor %}
	        </select>
			<select name="filterFlag" class="selectFilter">
				<option value="Tutti i flag">Tutti i flag</option>
			    {% for valore in filtriFlag %}
					<option value="{{ valore }}"{% ifequal valore filterFlag %} selected="selected"{% endifequal %}>{{ valore }}</option>
				{% endfor %}
	        </select>
            <select name="filterWhen" id="whenSelect" class="selectFilter">
                {% for filterValue, desc in filtriWhen %}
                    <option value="{{ filterValue }}"{% ifequal filterValue filterWhen %} selected="selected"{% endifequal %}>{{ desc }}</option>
                {% endfor %}
				<option value="advanced" id="advDateFilter"{% if filtroWhenAvanzato %} selected="selected"{% endif %}>Filtro avanzato...</option>
            </select>
			<input class="filterOkBTN" type="submit" value="Filtra" style="padding:0 15px; margin:0;"/>
	</div>
	<script type="text/javascript">
		function showAdvancedFilter() {
			var advBox='<span class="advFilters"> dal <input name="dstart" style="width:80px" type="text" value="{{ data_inizio|date:"d/m/Y" }}" \/> al <input name="dend" style="width:80px" type="text" value="{{ data_fine|date:"d/m/Y" }}" \/> <\/span>';
			$('#whenSelect').after(advBox);
			$(".advFilters input").datepicker();
		};
		$('#whenSelect').change( function(){
			var selected=$("#whenSelect option:selected").get(0).value;
			if (selected=="advanced") {
				showAdvancedFilter();
			}
			else {
				$('.advFilters').remove();
			}
			
		});
		{% if  filtroWhenAvanzato %}
			$(document).ready(function(){
				showAdvancedFilter();
			})
		{% endif %}
	</script>
</form>
