{% load url from future %}{% load staticfiles %}<div>
	<h2>Conducenti</h2>
	<div>
	<a href="{% url "tamNuovoConducente" %}">
		<i class="sprite icon-addbtn"></i> Nuovo Conducente
	</a><br/>
	{% if tuttiConducenti %}
		<table class="tablesorter">
		<thead>
			<tr>
			<th>Nome</th>
			<th>Sigla [pax]</th>
			</tr>
		</thead>

		<tbody>
			{% for conducente in tuttiConducenti %}
			<tr {% if not conducente.attivo %} class="inattivo"{% endif %}>
				<td>
					<a href="{% url "tamConducenteId" conducente.id %}">{{ conducente.nome }}</a>
					{% if not conducente.attivo %}NON ATTIVO{% endif %}
				</td>
				<td>{{ conducente.nick }} [{{ conducente.max_persone }}]</td>
			</tr>
			{% endfor %}
		</tbody>
		</table>
	{% else %}
		Nessun conducente in anagrafica.
	{% endif %}
	</div>
</div>
