{% extends "clienti_e_listini.html" %}

{% block title %}Cancella listino &raquo; {{ block.super }}{% endblock %}

{% block clienti %}{{ block.super }} &raquo; Cancella listino {% endblock %}

{% block content %}
    <h1>Cancella Listino '{{ listino }}'.</h1>
    <p>Il listino selezionato verrà cancellato con tutti i suoi {{ num_prezzi }} prezzi.</p>
	<p>A tutti i clienti che usavano questo listino verrà tolto il listino e andranno modificati con il listino più appropriato.</p>
	<p>Le corse non verranno influenzate.</p>
    <form method="post" action="">
	<form method="post" action="">
		{{ form.as_p }}
	<p><input type="submit" value="Elimina il listino" /></p>
    </form>
{% endblock %}
