{% extends "base.html" %}{% load url from future %}{% load staticfiles %}

{% block title %}Luoghi e tratte &raquo; {{ block.super }}{% endblock %}

{% block content %}
	<div id="accordion">
		<div>
			<h2>Tratte</h2>

			<div>
				<a href="{% url "tamNuovaTratta" %}"><img src="{% static 'img/addbtn.png' %}" alt="+"/> Nuova Tratta</a><br/>
				{% if tratte %}
					<table id="tratte" class="tablesorter">
						<thead>
						<tr>
							<th>Da</th>
							<th>A</th>
							<th>Tratta</th>
						</tr>
						</thead>
						<tbody>
						{% for tratta in tratte %}
							<tr>
								<td>{% ifchanged %}{{ tratta.da }}{% endifchanged %}</td>
								<td>{{ tratta.a }}</td>
								<td {% if not tratta.is_valid %} class="errorlist" {% endif %}>
									<a href="{% url "tamTrattaId" tratta.id %}">
										{{ tratta.minuti }} min.
										{% if tratta.is_long %}<strong>{% endif %}    {{ tratta.km }} km.
										{% if tratta.is_long %}</strong>{% endif %}
										{% if tratta.costo_autostrada %}{{ tratta.costo_autostrada }}€{% endif %}
									</a>
								</td>
							</tr>
						{% endfor %}
						</tbody>
					</table>
				{% else %}
					<h3>Nessuna tratta è stata definita</h3>
				{% endif %}
			</div>
		</div>

		<div>
			<h2>Bacini e luoghi</h2>

			<div>
				<a href="{% url "tamNuovoBacino" %}"><img src="{% static 'img/addbtn.png' %}" alt="+"/> Nuovo Bacino</a><br/>
				<a href="{% url "tamNuovoLuogo" %}"><img src="{% static 'img/addbtn.png' %}" alt="+"/> Nuovo
					Luogo</a><br/>
				{% if bacini or unbacined %}
					<table id="luoghi" class="tablesorter">
						<thead>
						<tr>
							<th>Bacino</th>
							<th>Luogo</th>
						</tr>
						</thead>
						<tbody>
						{% if unbacined %}
							<tr>
								<td><strong>Non associati</strong></td>
							</tr>
							{% for luogo in unbacined %}
								<tr>
									<td></td>
									<td>
										<a href="{% url "tamLuogoId" luogo.id %}">{{ luogo }}</a>
										{% if luogo.speciale == "A" %}
											<img src="{% static 'flag/luogo-airport.png' %}" alt="air"/>{% endif %}
										{% if luogo.speciale == "S" %}
											<img src="{% static 'flag/luogo-train.png' %}" alt="train"/>{% endif %}
									</td>
								</tr>
							{% endfor %}
						{% endif %}

						{% for bacino in bacini %}
							<tr>
								<td>
									<strong><a href="{% url "tamBacinoId" bacino.id %}">{{ bacino.nome }}</a></strong>
								</td>
							</tr>
							{% for luogo in bacino.luogo_set.all %}
								<tr>
									<td></td>
									<td>
										<a href="{% url "tamLuogoId" luogo.id %}">{{ luogo }}</a>
										{% if luogo.speciale == "A" %}
											<img src="{% static 'flag/luogo-airport.png' %}" alt="air"/>{% endif %}
										{% if luogo.speciale == "S" %}
											<img src="{% static 'flag/luogo-train.png' %}" alt="train"/>{% endif %}
									</td>
								</tr>
							{% endfor %}
						{% endfor %}
						</tbody>
					</table>
				{% else %}
					<h3>Nessun luogo è stato definito.</h3>
				{% endif %}
			</div>
		</div>

	</div>

{% endblock %}

{% block bottom %}
	<script type="text/javascript">
		$(document).ready(function () {
			$("#accordion").find("div").accordion({
				header: "h2",
				alwaysOpen: false,
				active: false,
				animated: false,
				collapsible: true
			});
			//$("#accordion .selected").removeClass("selected");
		});
	</script>
{% endblock bottom %}
