{% extends "base.html" %}{% load static %}

{% block title %}{% if viaggio.id %} Modifica {% else %} Nuova {% endif %} corsa &raquo; {{ block.super }}{% endblock %}

{% block content %}
<div style="text-align:center">
    {% if delete %}
        <h1>Cancellazione corsa</h1>
        {% if note %}<h2>{{ note }}</h2>{% endif %}
        Sicuro di voler cancellare la corsa:<br/>
			{{ viaggio }}<br/>
        <form action="" method="post">
			{% csrf_token %}
			<p><input type="submit" name="OK" value="Si" /> <input type="submit" value="No" /></p>
		</form>
    {% else %}
	<form action="" method="post" id="nuovaCorsa">
		{% csrf_token %}
        {% if form.non_field_errors %}
			{{ form.non_field_errors }}
		{% endif %}
        {% ifequal step 1 %}
			<p> <label for="id_data_0">Data e ora</label> {{ form.data|safe }} {% if form.data.errors %}<br/> <span class="errorlist">{% for error in form.data.errors %}{{ error }}{% endfor %}</span> {% endif %}	</p>

	        <p> {{ form.da.label_tag }} {{ form.da }}
	            {{ form.a.label_tag }} {{ form.a }}
				{% if form.da.errors or form.a.errors %}
					<br/> <span class="errorlist">Devi indicare partenza e arrivo.</span>
				 {% endif %}
			</p>
			<p>
				{% with form.privato as field %}
				<strong>{{ field.label_tag }}</strong>
				{{ field }}
				{% if field.errors %}<br/> <span class="errorlist">{% for error in field.errors %}{{ error }}{% endfor %}</span> {% endif %}
				{% endwith %}
				<span id="bloccoCliente">
				    {% with form.cliente as field %}{{ field.label_tag }} {{ field }}
					{% if field.errors %}<br/> <span class="errorlist">{% for error in field.errors %}{{ error }}{% endfor %}</span> {% endif %} {% endwith %}
				</span>
				<span id="bloccoPasseggero">
					{% with form.passeggero as field %}	{{ field.label_tag }} {{ field }} {% if field.errors %} <span class="errorlist">{% for error in field.errors %}{{ error }}{% endfor %} </span> {% endif %} {% endwith %}
				</span>
			</p>
			<div>
			    {{ form.numero_passeggeri.label_tag }} {{ form.numero_passeggeri }}
			    <div id="esclusivoBlock">{{ form.esclusivo }}</div>
				{% with form.numero_passeggeri as field %} {% if field.errors %}<br/> <span class="errorlist">{% for error in field.errors %}{{ error }}{% endfor %}</span> {% endif %} {% endwith %}
				{% with form.esclusivo as field %} {% if field.errors %}<br/> <span class="errorlist">{% for error in field.errors %}{{ error }}{% endfor %}</span> {% endif %} {% endwith %}
			</div>

		{% else %}
            <p>
			{% if prezzolistino %}

				Prezzo da listino {{prezzolistino.listino}}
				{% if viaggio.esclusivo %}
					<i class="sprite icon-t"></i>
				{%else%}
					<i class="sprite icon-c"></i>
				{%endif%}
				{% if prezzoDaListinoDiurno %}<i class="sprite icon-morning"></i>{%else%}<i class="sprite icon-night"></i>{% endif %}
				{{ prezzo_da_listino|floatformat:"2" }}€
			{% endif %}
			{% if fatturazione_forzata == 'S' %}<i title='Fatturazione forzata da listino' class="sprite icon-fat_on"></i>{% endif %}
			{% if fatturazione_forzata == 'N' %}<i title='Fatturazione disattivata da listino' class="sprite icon-fat_off"></i>{% endif %}
            </p>
			<table style='text-align:left; margin:auto;'>
				{{ form }}
				{% if viaggio.passeggero %}
					<tr>
						<th>
							<label for="id_dati_privato">
								Note permanenti del privato <br/>{{ viaggio.passeggero.nome }}:
							</label>
						</th>
						<td>
							<textarea id="id_dati_privato" style="background-color:lightyellow" rows="10" cols="40" name="datiPrivato">{% if viaggio.passeggero.dati %}{{ viaggio.passeggero.dati }}{% endif %}</textarea>
						</td>
					</tr>
				{% endif %}
			</table>
        {% endifequal %}


		<p class="buttons">
		    {% ifnotequal step 1 %}
		        {% if not id or not viaggio.padre_id %}
					{% if not  viaggio.conducente_confermato %}
						<a href="?back">dettagli precedenti</a>
					{% endif %}
				{% endif %}
            {% else %}
                {% if new %}<input type="button" id="clear" name="clear" value="Reset"/>{% endif %}
			{% endifnotequal %}
			<input type="submit" id="actionButton" name="proceed" value="{{ continue_title }}" />
            {% if not new %}
				{% ifnotequal step 1 %}
					<a href="{% url "tamCorsaCopy" viaggio.pk %}">copia</a>
					<a href="{% url "actionLog" %}?type=viaggio&amp;id={{ viaggio.id }}">log</a>
				{% endifnotequal %}
                {% with viaggio.delete_url as deleteUrl %}
                    {% if deleteUrl and perms.tam.delete_viaggio %}
							<br/>
							<a href="{{ deleteUrl }}">
								<i class="sprite icon-delbtn"></i>
		                    </a>
					{% endif %}
                {% endwith %}
			{% endif %}
		</p>

	</form>
		{% ifequal step 2 %}
			<div>
				<div style="font-family:monospace; ">
						{% if viaggio.cliente %}
							<a href="{% url "tamClienteId" viaggio.cliente.id %}?next={{ full_request_path }}">{{viaggio.cliente}}</a>
						{% else %}
							privato
							{% if viaggio.passeggero %}: <a href="{% url "tamPrivatoId" viaggio.passeggero.pk %}?next={{ full_request_path }}">{{ viaggio.passeggero }}</a>{% endif %}
						{% endif %}
						da {{viaggio.da}} a {{viaggio.a}} <strong>{{viaggio.data|date:"D j F, H:i"}}</strong>
						{{viaggio.numero_passeggeri}} pax, {% if viaggio.esclusivo %}taxi{% else %}collettivo{% endif %}

				</div>
			</div>
		{% endifequal %}
	{% endif %}
</div>
{% endblock content %}

{% block bottom %}
	<script type="text/javascript">
		$(function () {
			$("#clear").click(function () {
				document.location = "{% url "tamCorsaClear" %}";
			});
			var formChanged = false;
			$("input").on('change', function () {
				formChanged = true;
			});
			//$("input:submit").live('click', function(){formChanged=false;});
			$(document).on("click", "input:submit", function () {
				formChanged = false;
			});
			function askConfirm() {
				if (formChanged) return "Non hai salvato, sei sicuro di voler continuare?";
			}

			window.onbeforeunload = askConfirm;
			var placeholder_for_icon = $("#id_abbuono_fisso").parent();
			{% if da_speciale == "A" %}
				placeholder_for_icon.append('<i class="sprite icon-airport"></i>');
			{% elif da_speciale == "S" %}
				placeholder_for_icon.append('<i class="sprite icon-train"></i>');
			{% endif%}
		});
	</script>
{% endblock bottom %}
