# Git Repository per TAM

# Escludo i file DB e estensioni di supporto
*.py[co]
*.db3
*.bak
Desktop.ini

# Escludo le cartelle non funzionali
/_gsdata_/

# Escludo le cose relative agli IDE
/.project
/.pydevproject
.settings/
/nbproject/
/.idea/
.cache

/querylog.sql
_generated_media
_generated_media_names.py
free_hands_tests.py
deploy/moin
media/fatture/unused
/*.hosts

# instance secret files
settings_*.py
/*.ini

win_settings.bat
run_server

/static/*
!/static/.htaccess
!/static/robots.txt
/media/brand
/media_secured/

/logs
/_dev/
.sass-cache
