# Git Repository per TAM

# Escludo i file DB e estensioni di supporto
*.pyc
*.db3
*.bak
Desktop.ini

# Escludo le cartelle non funzionali
/backup/
/doc/
/_gsdata_/

# Escludo le cose relative a Netbeans
/.project
/.pydevproject
.settings/
/nbproject/

/querylog.sql
_generated_media
_generated_media_names.py
free_hands_tests.py
deploy/moin
media/fatture/unused
settings_local.py
media/fatture/arte.jpg
win_settings.bat
