# Django related
django<1.10
south
django-debug-toolbar
django-debug-toolbar-template-timings

# static files
django-pipeline < 1.6

# exports
xlrd
xlwt
reportlab

# date things
pytz
python-dateutil

# DB
psycopg2

# deployment
fabric
gunicorn
# setproctitle to set the process title, doesn't work on Windows
setproctitle
requests

# mails
# djrill was for Mandrill, but their free tier has been suspended
# djrill
django-mailgun

#tests
pytest-django

# template required for pipeline
jinja2

# proper ssl connections
pyopenssl
ndg-httpsclient
pyasn1
