# Django related ***
django<1.11
south
django-debug-toolbar
django-debug-toolbar-template-timings

# static files ***
django-pipeline < 1.6
jinja2

# exports ***
xlrd
xlwt
reportlab

# date things ***
pytz
python-dateutil

# DB ***
psycopg2

# deployment ***
fabric3
gunicorn
# setproctitle to set the process title, doesn't work on Windows
setproctitle
requests

# mails ***
# djrill was for Mandrill, but their free tier has been suspended
# djrill
django-mailgun

#tests ***
pytest-django

# proper ssl connections ***
pyopenssl
ndg-httpsclient
pyasn1

# python3 compatibility ***
future
