# Django related
django<1.9
south
django-debug-toolbar
django-debug-toolbar-template-timings

# static files
django-pipeline < 1.6

# exports
xlrd
xlwt
reportlab

# date things
pytz
python-dateutil

# DB
psycopg2

# deployment
fabric
gunicorn==18.0
# setproctitle to set the process title, doesn't work on Windows
# setproctitle

# mails
djrill

#tests
pytest-django
