{% extends "base.html" %}{% load staticfiles %}

{% block title %}Log delle modifiche &raquo; {{ block.super }}{% endblock %}

{% block content %}
	<h1>Log delle modifiche</h1>

	<form action="" method="get" id="filterForm">
		<div>
			<label for="preInsert">Modifiche tardive:</label> <input id="preInsert" type="checkbox" name="preInsert"
																	 {% if filterPreInsert %}checked='checked'{% endif %}/>
			<label for="action">Filtra per:</label>
			<select name="action" id="action" class="selectFilter">
				<option value="">Tutte le azioni</option>
			{% for action_type, action_name in action_types %}
				<option value="{{action_type}}"
						{% if filterAction == action_type %} selected="selected"{% endif %}>
					{{action_name}}
				</option>
			{% endfor %}
			</select>
			<select name="user" class="selectFilter" title="Utenti">
				<option value="">Tutti gli utenti</option>
				{% for utente in utenti %}
					<option value="{{ utente.id }}"{% ifequal utente.id filterUtente %}
							selected="selected"{% endifequal %}>{{ utente }}</option>
				{% endfor %}
			</select>
			<input class="filterOkBTN" type="submit" value="Filtra" style="padding:0 15px; margin:0;"/>
		</div>
	</form>

	{% if thisPage.has_other_pages %}
		<div class="countblock">
			{% include "paginator.inc.html" %}
		</div>
	{% endif %}
	<table class="tablesorter">
		<tr>
			<th>Ora modifica</th>
			<th>Utente</th>
			<th>Oggetto</th>
			<th>Azione</th>
		</tr>

		{% for action in actions %}
			<tr>
				<td {% ifequal action.modelName "viaggio" %}{% if action.hilight %}style="background-color:orange;"
				{% endif %}{% endifequal %}>
					{% ifequal action.data.date today %}
						<span class="today">{{ action.data|date:"H:i" }}</span>
					{% else %}
						<span class="date">{{ action.data|date:"D d M, Y H:i" }}</span>
					{% endifequal %}

				</td>
				<td>{{ action.user }}</td>
				<td>
					{% with action.obj as obj %}
						{% if obj %}
							{% if obj.url %}
								<a href='{{ obj.url }}'>{{ action.modelName }} {{ obj }}</a>
							{% else %}
								{{ action.modelName }} {{ obj }}
							{% endif %}
						{% endif %}
					{% endwith %}
				</td>
				<td><img src="{{ action.icon }}" alt="{{ action.action_type }}"/> {{ action.description }}</td>
			</tr>
		{% endfor %}
	</table>
	{% if thisPage.has_other_pages %}
		<div class="countblock">
			{% include "paginator.inc.html" %}
		</div>
	{% endif %}

{% endblock %}
