{% extends "base.html" %}
{% load staticfiles %}

{% block header %}
    <link rel="stylesheet" type="text/css" href="{% static "js/dragula/dragula.min.css" %}"/>
{% endblock %}
{% block title %}Report corse &raquo; {{ block.super }}{% endblock %}

{% block content %}
    <h1>Report corse</h1>

    <form action="" method="get" id='statsform'>
        <fieldset class="formset">
            <legend>Tipo</legend>
            <label>Corse
                <input type="radio" name="type" value="corse"{% if type == 'corse' %} checked{% endif %}/>
            </label>
            <label>Fatture
                <input type="radio" name="type" value="fatture"{% if type == 'fatture' %} checked{% endif %}/>
            </label>
        </fieldset>

        <fieldset class="formset">
            <legend>Date</legend>
            <label>da <input type='text' name='data_start' id='data_start' class="daterange"
                             value='{{ data_start|date:"d/m/Y" }}'></label>
            <label>a <input type='text' name='data_end' id='data_end' class="daterange"
                            value='{{ data_end|date:"d/m/Y" }}'></label>

            <a href="#" onclick="setDateRange(0)">{{ quick_month_names.0 }}</a>
            <a href="#" onclick="setDateRange(-1)">{{ quick_month_names.1 }}</a>
            <a href="#" onclick="setDateRange(-2)">{{ quick_month_names.2 }}</a>
        </fieldset>
        <fieldset class="formset">
            <legend>Filtro</legend>
            <label><input type="checkbox" name="filter" value="fatture" {% if 'fatture' in filter %}checked{% endif %}>
                Fatture</label>
            <label><input type="checkbox" name="filter" value="carte" {% if 'carte' in filter %}checked{% endif %}>
                Carta</label>
            <label><input type="checkbox" name="filter" value="finemese"
                          {% if 'finemese' in filter %}checked{% endif %}> Fine mese</label>
        </fieldset>
        <fieldset class="formset">
            <legend>Raggruppamento (trascina a destra)</legend>
            <div class="dragcontainer">
                <div id="available" class="box">
                    {% if "cliente" not in grouper %}
                        <div class="draggable">Cliente</div>{% endif %}
                    {% if "conducente" not in grouper %}
                        <div class="draggable">Conducente</div>{% endif %}
                    {% if "taxi/collettivo" not in grouper %}
                        <div class="draggable">Taxi/Collettivo</div>{% endif %}
                </div>
                <div id="enabled" class="box">
                    {% for g in grouper %}
                        {% if "cliente" == g %}
                            <div class="draggable">Cliente</div>
                        {% elif "conducente"  == g %}
                            <div class="draggable">Conducente</div>
                        {% elif "taxi/collettivo"  == g %}
                            <div class="draggable">Taxi/Collettivo</div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </fieldset>

        <input class="asblock" type="submit" value="Aggiorna"/>
    </form>
    <h2>Report {{ reportname }}</h2>
    <div id="data">
        {% for row in data %}
            <div class="row">{{ row }}</div>
        {% endfor %}
        <div class="countblock">{{ data|length }}</div>
    </div>
{% endblock %}

{% block bottom %}
    <script type="text/javascript" src="{% static "js/dragula/dragula.min.js" %}"></script>
    <script type="text/javascript" src="{% static 'js/stats.js' %}"></script>
{% endblock bottom %}
