{% extends "base.html" %}{% load url from future %}{% load staticfiles %}

{% block css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static "css/board.css" %}"/>
{% endblock %}

{% block content %}
    <h1>Bacheca messaggi</h1>

    <div>
        <form id='boardForm' action='' method='post' enctype="multipart/form-data">
            <div id='board'>
               {% comment %}
                    {% for message in board_messages %}
                        <div class='message' id="message-{{ message.id }}">
                            <div class='head'>
                                <div class='date'>
                                    {{ message.date|date:"SHORT_DATE_FORMAT" }}
                                </div>
                                <div class='author'>
                                    {{ message.author }}
                                </div>
                                {% if message.attachment %}
                                    <img class='attachment-mark' src='{% static "img/attachment.png" %}' width="32"
                                         height="32"/>
                                {% endif %}
                            </div>
                            <div class='m'>{{ message.message }}</div>
                            {% if message.attachment %}
                                <div class='attachment'>
                                    <a href='{{ message.attachment.url }}'>{{ message.attachment_name }}</a>
                                    {{ message.attachment.size|filesizeformat }}
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                {% endcomment %}
            </div>

            <div id='newMessageBoard'>
                <div>
                    <label for='m'>Nuovo messaggio:</label><br>
                    <textarea name='m' id='m'></textarea>
                    <label for="attach">Allegato: </label><input type="file" id="attach" name="attach">
                </div>

                <input id="submit_btn" type="submit" value='Invia messaggio'/>
                <span id="status" class='warning'>Connessione in corso...</span>
            </div>
        </form>
    </div>

{% endblock content %}

{% block bottom %}
    {{ block.super }}
    <script type="text/javascript" src="{% static "board/board.js" %}"></script>
    <script>
        var messages = [];
        {% for message in board_messages %}
            var newMessage = {
                message: "{{ message.message|escapejs }}",
                author: "{{ message.author.username }}",
                date: "{{ message.date|date:"SHORT_DATE_FORMAT" }}",
                {%  if message.attachment %}
                    attachment: {name: '{{ message.attachment_name|escapejs }}', url: '{{ message.attachment.url|escapejs }}' },
                {% endif %}
                id: {{ message.id }}
            };
            messages.push(newMessage);
        {% endfor %}
        for (var i = messages.length - 1; i >= 0; i--) {
            addMessage(messages[i]);
        }

    </script>
    <script type="text/javascript" src="{% static "socket.io.min.js" %}"></script>
{% endblock bottom %}
