{% extends "prenotazioni/base.html" %}
{% load i18n %}

{% block styles %}
	{{ block.super }}
	<style type="text/css">
		ul li {
			display: block;
			padding: 0;
			font-size: smaller;
		}
	</style>
{% endblock styles %}
{% block title %}{% trans "Cambia la tua password" %} &raquo; {{ block.super }}{% endblock %}

{% block content %}
	<h1>{% trans "Cambia la tua password" %}</h1>

	<form method="post">
		{% csrf_token %}
		{{ form.as_p }}
		<input type="submit" value="{% trans "Cambia la tua password" %}">
	</form>
{% endblock %}
