{% extends 'prenotazioni/base.html' %}
{% load i18n %}{% load staticfiles %}{% load url from future %}
{% block content %}
	{% if thisPage.has_other_pages %}
		<div class="countblock noprint">
			{% include "paginator.inc.html" %}
		</div>
	{% endif %}
	<div id='filtri' class='noprint'>
		<form action='' method="get" name='filter'>
			{% if cliente_unico %}
				{% trans "per" %} {{ cliente_unico }}
			{% else %}
				<select name=cliente>
					<option value='all'>{% blocktrans %}Tutti i clienti{% endblocktrans %}</option>
					{% for cliente in clienti_attivi %}
						{% if cliente == cliente_selezionato %}
							<option value="{{ cliente.id }}" selected="selected"><b>{{ cliente.nome }}</b></option>
						{% else %}
							<option value="{{ cliente.id }}">{{ cliente.nome }}</option>
						{% endif %}

					{% endfor %}
				</select>
			{% endif %}
			<select name='data' id="datemode">
				<option value='all'>Tutte le date</option>
				<option value='next'{% if current_date_filter == "next" %}  selected="selected"{% endif %}>
					{% blocktrans %}Prossime corse{% endblocktrans %}
				</option>
				<option value='day'{% if current_date_filter == "day" %}  selected="selected"{% endif %}>
					{% trans "Odierne" %}
				</option>
				<option value='cur'{% if current_date_filter == "cur" %}  selected="selected"{% endif %}>
					{% blocktrans %}Mese corrente{% endblocktrans %}
				</option>
				<option value='prev'{% if current_date_filter == "prev" %}  selected="selected"{% endif %}>
					{% blocktrans %}Mese precedente{% endblocktrans %}
				</option>
				<option value='adv'{% if current_date_filter == "adv" %}  selected="selected"{% endif %}>
					{% blocktrans %}Da data - a data{% endblocktrans %}
				</option>
			</select>

			<div class="input-daterange input-group hidden" id="datepicker">
				<label for="datepicker">{% blocktrans %}Seleziona le date per il filtro:{% endblocktrans %}</label>
				{% trans "Da:" %}
				<input type="text" class="input-sm form-control" name="dstart" value="{{ data_inizio }}"/>
				{% trans "a:" %}
				<input type="text" class="input-sm form-control" name="dend" value="{{ data_fine }}"/>
			</div>

			<a class="btn btn-mini" href="javascript:document.filter.submit()"><i class="icon-refresh"></i> {% trans "Aggiorna" %}
			</a>
		</form>
	</div>

	{% if viaggi %}

		<table class='prenotazioni'>
			<tr>
				{% if not cliente_unico %}
					<th>{% trans "Cliente" %}</th>
				{% endif %}
				<th>{% trans "Corsa" %}</th>
				<th>{% trans "orario" %}</th>
			</tr>
			{% for viaggio in viaggi %}
				<tr>
					{% if not cliente_unico %}
						<td>{{ viaggio.cliente }}</td>{% endif %}
					{% include "corse/cella_partenza_arrivo.inc.html" %}

					<td>{{ viaggio.data|date:"j F Y, H:i" }}<br/>
						{{ viaggio.numero_passeggeri }} pax
						{% if not viaggio.esclusivo %}
							<img width="12px" height="12px" src="{% static "img/c.ico" %}" alt="collettivo"/>
						{% else %}
							<img width="12px" height="12px" src="{% static "img/t.ico" %}" alt="taxi"/>
						{% endif %}
					</td>
					{% if viaggio.is_prenotazione %}
						{% with prenotazione=viaggio.prenotazione %}
							<td class='note'>
								{% if prenotazione.note_camera %}{% trans "Camera:" %} {{ prenotazione.note_camera }}<br/>{% endif %}
								{% if prenotazione.note_cliente %}{% trans "Cliente:" %}
									{{ prenotazione.note_cliente }}<br/>{% endif %}
								{% if prenotazione.note %}{{ prenotazione.note }}{% endif %}
							</td>
							{% if prenotazione.owner == request.user.prenotazioni %}
								<td>
									<a href='{% url 'tamPrenotazioni-edit' prenotazione.id %}'>
										{% if prenotazione.is_editable %}
											{% trans "modifica" %}
										{% else %}
											{% trans "visualizza" %}
										{% endif %}
									</a>
									{% if prenotazione.had_attachment %}
										<div><img src="{% static "img/attachment.gif" %}"
												  title="{% trans "Un allegato è già stato inviato" %}"/></div>
									{% endif %}
								</td>
							{% endif %}

						{% endwith %}
					{% endif %}
					{% if viaggio.annullato %}
						<td>{% trans "Annullato" %}</td>
					{% endif %}
				</tr>
			{% endfor %}
		</table>
		{% if thisPage.has_other_pages %}
			<div class="countblock noprint">
				{% include "paginator.inc.html" %}
			</div>
			<br style="clear:both"/>
		{% endif %}
		<script>
			$(function () {
				$('.input-daterange').datepicker({
					todayBtn: "linked",
					language: "it",
					autoclose: true
				});
				$('#datemode').change(
						function () {
							var datemode = $(this).find(":selected").val();
							if (datemode == 'adv')
								$('#datepicker').removeClass('hidden');
							else
								$('#datepicker').addClass('hidden');
						}
				).change();
			});
		</script>
	{% endif %}

{% endblock content %}
