{% extends 'prenotazioni/base.html' %}
{% load i18n tz %}
{% block content %}
	{% if prenotazione %}
		<h3>{% trans "Prenotazione" %} {{ prenotazione.id }}</h3>
	{% endif %}

	{{ utentePrenotazioni.nome_operatore }} {% trans "per" %}
	{% if cliente_unico %}{{ cliente_unico }}{% endif %}


	{% if not prenotazione.id and quick_book and utentePrenotazioni.quick_book %}
		<form action='' method="post" id='quickform'>
			{% csrf_token %}
			<div class="quickbook">
				{% for target in quick_book.choices %}
					<button type="submit" name="quickbook" value="{{ target.name }}"
							class="book btn btn-large">
						{% trans "Chiamata diretta" %} <br> {{ target.name }}
					</button>
				{% endfor %}
			</div>
		</form>
	{% endif %}

	<hr>

	<form action='' method="post" enctype="multipart/form-data" id='preForm'>
		{% csrf_token %}
		{{ form.as_p }}

		{% if editable %}
			{% if prenotazione %}
				<input type='submit' name='prenota' class='btn'
					   value='{% trans "Modifica prenotazione" %}'/>
			{% else %}
				<input type='submit' name='prenota' class='btn'
					   value='{% trans "Invia prenotazione" %}'/>
			{% endif %}

			{% if prenotazione %}
				<input type='submit' name='delete' class='btn'
					   value='{% trans "Cancella prenotazione" %}'
				/>
			{% endif %}
		{% else %}
			<script type="text/javascript">
              $("form input,form textarea, form select").attr("disabled", true);
			</script>
		{% endif %}
	</form>

	<a href='{% url 'tamCronoPrenotazioni' %}'>

		<div style='text-align:center'>
			{% blocktrans %}vai alla cronologia delle prenotazioni effettuate{% endblocktrans %}
		</div>
	</a>
{% endblock content %}
