{% extends 'prenotazioni/base.html' %}
{% load i18n %}{% load url from future %}{% load tz %}
{% block content %}
	{% if prenotazione %}
		<h3>{% trans "Prenotazione" %} {{ prenotazione.id }}</h3>
	{% endif %}
	
	{{ utentePrenotazioni.nome_operatore }} {% trans "per" %}
	{% if cliente_unico %}{{ cliente_unico }}{% endif %}
	<form action='' method="post" enctype="multipart/form-data" id='preForm'>
		{{ form.as_p }}
		
		{% if editable %}
			<input type='submit'
				   name='prenota'
				   class='btn'
				   value='{% if prenotazione %}{% trans "Modifica" %}{%else%}{% trans "Invia" %}{%endif%}{% trans " prenotazione" %}'
			/>
			{% if prenotazione %}
				<input type='submit'
				   name='delete'
				   class='btn'
				   value='{% trans "Cancella prenotazione" %}'
			/>
			{% endif %}
		{% else %}
			<script type="text/javascript">
				$("form input,form textarea, form select").attr("disabled",true);
			</script>
		{% endif %}
	</form>
	
	<a href='{% url 'tamCronoPrenotazioni' %}'>

	<div style='text-align:center'>
		{% blocktrans %}vai alla cronologia delle prenotazioni effettuate{% endblocktrans %}
	</div>
	</a>
{% endblock content %}
