{% extends "base.html" %}{% load url from future %}{% load staticfiles %}{% load compressed %}

{% block css %}
    {{ block.super }}
    {% compressed_css 'codapresenze' %}
{% endblock %}

{% block content %}
    <h1 style="float:left">Coda Presenze</h1>
    <div id="user-choser">
        {% if perms.codapresenze.editall %}
            <label for="conducente">Conducente:</label><select id='conducente'>
            {% for utente in utenti %}
                <option{% if utente == request.user %} selected="selected"{% endif %}>
                    {{ utente.username }}
                </option>
            {% endfor %}
            </select>
        {% endif %}
    </div>

    <div id='coda'></div>

    <div id='codacomandi'>
        <form action="" method="POST">
            <h2>Accodati a:</h2>
            {% for piazza in piazze %}
                <div>{{ piazza }}</div>
            {% endfor %}

            <br style="clear: both"/>

            <div id='dequeue'>Esci dalla coda</div>
            <div id='refresh'><img src="{% static "img/assoc.png" %}"/> Aggiorna</div>

            <br style="clear: both"/>
        </form>

    </div>

    <div id='counter'></div>

{% endblock content %}

{% block bottom %}
    {{ block.super }}
    {% compressed_js 'codapresenze' %}
    <script type="text/javascript">
        var coda={{ codajson|safe }};
        username = '{{ request.user.username|safe }}';
        ricreaCoda(coda);
    </script>
{% endblock bottom %}
