{% extends "base.html" %}{% load static %}{% load pipeline %}

{% block css %}
	{{ block.super }}
	{% stylesheet 'codapresenze' %}
{% endblock %}

{% block content %}
	<h1 style="float:left">Coda Presenze</h1>
	<div id="user-choser">

		<a class="btnbox small" href="{% url 'codapresenze-ferie' %}">
			<img src="{% static 'img/calendar.gif' %}" alt="">
			Calendario
		</a>

		{% if perms.codapresenze.editall %}
			<label for="conducente">Socio:</label><select id='conducente'>
			{% for utente in utenti %}
				<option{% if utente == request.user %} selected="selected"{% endif %}>
					{{ utente.username }}
				</option>
			{% endfor %}
		</select>
		{% endif %}
	</div>

	<div id='code'>
		{% for queue_name in queues %}
			<div id="{{ queue_name }}" class="queue"></div>
		{% endfor %}
	</div>

	<div id='codacomandi'>
		<form action="" method="POST">
			{% csrf_token %}
			<h2>Accodati a:</h2>
			{% for name, group in places %}
				<div class="place {{ group }}">{{ name }}</div>
			{% endfor %}

			<div id='dequeue'>Esci dalla coda</div>
			<div id='refresh'><span><i class="sprite icon-assoc"></i> Aggiorna</span></div>

			<br style="clear: both"/>
		</form>

	</div>

	<div id='counter'></div>
{% endblock content %}

{% block bottom %}
	{{ block.super }}
	{% javascript 'codapresenze' %}
	<script type="text/javascript">
		var coda ={{ codajson|safe }},
			username = '{{ request.user.username|safe }}',
			queueGroups = {{queueGroupsJson|safe}};
		ricreaCoda(coda)
	</script>
{% endblock bottom %}
