<div>
<h2><a href="#">
		{{ classifica_definita.nome }}
		{% if classifica_definita.descrizione %}({{ classifica_definita.descrizione }}){% endif %}
	</a>
</h2>
<div>
<table class="tablesorter">
    <thead>
	<tr>
	    <th></th>
	    <th>Nome</th>
	    <th>Valore</th>
	</tr>
    </thead>

    <tbody>
	{% for punti, nick, classifica in classifica_definita.dati %}
	    <tr {% if not classifica.conducente.attivo %} class="inattivo"{% endif %}>
		<td style="width:130px;">
		    <img alt="" class="hbar" src="/media/hbar.png" width="{% widthratio punti classifica_definita.max 130 %}" />
		</td>
		<td>{{ classifica.conducente }}</td>
		<td>{{ punti|floatformat:"-2" }}€</td>
	    </tr>
	{% endfor %}
    </tbody>
</table>
</div>
</div>