{% load humanize staticfiles %}
<div>
	<h2><a href="#">Classifica Fatture e Fine-mese</a></h2>
	<div>
		<table class="tablesorter">
			<thead>
			<tr>
				<th></th>
				<th>Nome</th>
				<th>Numero corse</th>
				<th>Valore</th>
			</tr>
			</thead>

			<tbody>
			{% for c in classifica_fatture %}
				<tr {% if not c.attivo %} class="inattivo"{% endif %}>
					<td style="width:130px;">
						<img alt="" class="hbar" src="{% static 'img/hbar.png' %}"
							 width="{% widthratio c.val classifica_fatture.max_val 130 %}"/>
					</td>
					<td>{{ c }}</td>
					<td>{{ c.count }}</td>
					<td>{{ c.val|floatformat:"-2" }}€</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>
	</div>
</div>
