{% load humanize %}
<div>
<h2><a href="#">Doppi Venezia</a></h2>
<div>
    <table class="tablesorter">
	<thead>
	    <tr>
		<th>Nome</th>
		<th colspan="{{ punti_assocMax }}">Punti di abbinata</th>
	    </tr>
	</thead>

	<tbody>
		{% comment %}{% with classifiche|dictsort:"puntiAbbinata" as doppiVenezia %}{% endcomment %}
	    {% for punti, nick, classifica in doppiVenezia %}
		<tr>
		    <td>
			<a href="{% url tamCorse %}?filterConducente={{ classifica.conducente.id }}&amp;filterType=Doppi">{{ classifica.conducente }}</a>
			    {% if punti_assocMin %}
					{% if not classifica.debitoAbbinate %}
						É in pari.
					{% else %}
						{% if classifica.deveDare %}deve dare{% else %}deve ricevere{% endif %}
						{{ classifica.debitoAssoluto|floatformat:2 }}€
					{% endif %}
			    {% endif %}
		    </td>
		    {% for punto in classifica.celle_abbinate %}
			    <td> {{ punto.valore|floatformat:2 }}{% if punto.data %}<br/>{{ punto.data|date:"d/m/Y " }}{% endif %}</td>
		    {% endfor %}
		</tr>
	    {% endfor %}

	    {% if punti_assocMin %}
		<tr>
		    <td></td>
		    <td colspan="{{ punti_assocMin }}">
			{% if confirmConguaglio %}
			    <form method="post" action="">
					<input type="submit" name="conguaglia" value="Memorizza">
				</form>
			{% else %}
				    <a href="{% url tamConguaglio %}">CONGUAGLIA</a> TOTALE: {{ totaleConguaglioAbbinate|intcomma }} € MEDIA: {{ mediaAbbinate|intcomma }} €
			{% endif %}
		    </td>
		</tr>
		{% endif %}
	</tbody>
    </table>
</div>
</div>

{% comment %}
<div>
<h2><a href="#">Doppi Venezia bus</a></h2>
    <div>Da implementare</div>
</div>
{% endcomment %}