$pad: 30px;

#code .item,
#codacomandi .place,
#codacomandi #dequeue,
#codacomandi #refresh {
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 74px;
  min-height: 35px;
  border: 2px solid black;
  padding: 25px;
  max-width: 200px;
  white-space: pre-line;
  margin: 0 5px 5px 0;
  text-align: center;
  border-radius: 5px;
  cursor: pointer;
  background-color: #eee;
}

.queue {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

#code {
  background: #fbeed5;
  padding: $pad 10px;
  clear: both;

  span {
    display: block;
    &.place {
      font-weight: bolder;
    }
  }

  .item {
    width: 180px;
    background-color: white;
    padding: 10px;
    font-size: 10pt;
    cursor: inherit;
  }

  .name {
    font-size: 19pt;
  }

  .current {
    background-color: springgreen;
  }

}

#user-choser {
  float: right;

  select {
    height: 3em;
    margin: 20px;
    min-width: 200px;
  }
}

#codacomandi #dequeue,
#codacomandi #refresh {
  float: right;
}

#codacomandi #dequeue {
  background: tomato;
  color: white;
  font-weight: bolder;
}

h2 {
  margin: 10px 0;
}

#separator {
  /*clear: both;*/
  display: block;
  height: 30px;
  background: transparent;
}

.locale, #locale {
  background-color: #fff651 !important;
}
