#coda {
    background:#fbeed5;
    padding: 30px 10px;
	clear: both;
}
#user-choser {
	float: right;
}
#user-choser select {
	height: 3em;
	margin: 20px;
	min-width: 200px;
}

#coda>div, #codacomandi .place, #codacomandi #dequeue, #codacomandi #refresh {
    float:left;
	min-width: 150px;
    border: 2px solid black;
    padding: 25px;
    max-width: 200px;
    white-space: pre-line;
    margin:0 5px 5px 0;
    text-align: center;
    border-radius: 5px;
	cursor: pointer;
	background-color:#eee;
}

#coda>div {
	background-color: white;
	padding: 10px;
}
#separator {
	clear: both;
	display: block;
	height: 30px;
	background: transparent;
}
#codacomandi #dequeue {
	background: tomato;
	color: white;
	font-weight: bolder;
}

#coda>div {
    width: 180px;
}

#coda div.name {
    font-size: 19pt;
}

#coda div.current {
    background-color: springgreen;
}

#coda span {
    display:block;
}

#coda span.place {
    font-weight: bolder;
}

h2 {
	margin:10px 0;
}
