{% load staticfiles %}
{% if viaggio.arrivo %}
	<td class="arrivo">
		{% if viaggio.is_long %}<strong>{% endif %}
		{% if viaggio.a.id == viaggio.luogoDiRiferimento_id %}
			ARRIVO {{ viaggio.da }}
		{% else %}
			{{ viaggio.da }}<img src="{% static "img/fout.png" %}" alt="Arrivo" />{{ viaggio.a }}
		{% endif %}
		{% if viaggio.is_long %}</strong>{% endif %}
	</td>
{% else %}
	<td class="partenza">
		{% if viaggio.is_long %}<strong>{% endif %}
		{% if viaggio.da.id == viaggio.luogoDiRiferimento_id %}
			PARTENZA {{ viaggio.a }}
		{% else %}
			{{ viaggio.da }}<img src="{% static "img/fin.png" %}" alt="Partenza" />{{ viaggio.a }}
		{% endif %}
		{% if viaggio.is_long %}</strong>{% endif %}
	</td>
{% endif %}
