{% if viaggio.note %}<div class="noteViaggio">{{ viaggio.note }}</div>{% endif %}
{% if viaggio.is_prenotazione %}
	{% with prenotazione=viaggio.prenotazione %}
        <div class="notePrenotazione">
            {% spaceless %}
                {% if prenotazione.note_cliente %}Cliente: {{ prenotazione.note_cliente }}{% endif %}
                {% if prenotazione.note_camera %}Camera: {{ prenotazione.note_camera }}{% endif %}
                {% if prenotazione.note_arrivo %}{{ prenotazione.note_arrivo }}{% endif %}
                {% if prenotazione.note %}{{ prenotazione.note }}{% endif %}
            {% endspaceless %}
        </div>
	{% endwith %}
{% endif %}
{% if viaggio.passeggero.dati %}<div class="notePasseggero">{{ viaggio.passeggero.dati }}</div>{% endif %}
{% if viaggio.cliente.note %}<div class="noteCliente">{{ viaggio.cliente.note }}</div>{% endif %}
