{% load i18n %}
{% load static %}
{% if viaggio.arrivo %}
	<td class="arrivo">
		{% if viaggio.is_long %}<strong>{% endif %}
		{% if viaggio.a.id == viaggio.luogoDiRiferimento_id %}
			{% trans "ARRIVO" %}<br>{{ viaggio.da }}
		{% else %}
			{{ viaggio.da }}<br>
			<i class="sprite icon-fout"></i>{{ viaggio.a }}
		{% endif %}
		{% if viaggio.is_long %}</strong>{% endif %}
	</td>
{% else %}
	<td class="partenza">
		{% if viaggio.is_long %}<strong>{% endif %}
		{% if viaggio.da.id == viaggio.luogoDiRiferimento_id %}
			{% trans "PARTENZA" %}<br>{{ viaggio.a }}
		{% else %}
			{{ viaggio.da }}<br><i class="sprite icon-fin"></i>{{ viaggio.a }}
		{% endif %}
		{% if viaggio.is_long %}</strong>{% endif %}
	</td>
{% endif %}
