{% if not viaggio.padre_id and not viaggio.conducente_confermato  %}<a href="{% url tamNuovaCorsaId viaggio.id %}">{% endif %}
{% ifequal viaggio.data.date today %}
	<span class="bighour">{{ viaggio.data|date:"H:i" }}</span>
{% else %}
	<span class="middlehour">
	{% if viaggio.data.date.year == today.year %}
		{{ viaggio.data|date:"D j F, H:i"}}
	{% else %}
		{{ viaggio.data|date:"D j F Y, H:i"}}
	{% endif %}
	</span>
{% endifequal %}
{% if not viaggio.padre_id and not viaggio.conducente_confermato %}</a>{% endif %}
<br/>
{# {% include "corse/dettagli_viaggio.inc.html" %} #}
{{ viaggio.html_tragitto|safe }}