{% if not viaggio.padre_id and not viaggio.conducente_confermato  %}<a href="{% url "tamNuovaCorsaId" viaggio.id %}">{% endif %}
{% if viaggio.data.date == today %}
	<span class="bighour">{{ viaggio.data|date:"H:i" }}</span>
{% else %}
	<span class="middlehour">
	{% if viaggio.data.date.year == today.year %}
		{{ viaggio.data|date:"D j F, H:i"}}
	{% else %}
		{{ viaggio.data|date:"D j F Y, H:i"}}
	{% endif %}
	</span>
{% endif %}
{% if not viaggio.padre_id and not viaggio.conducente_confermato %}</a>{% endif %}
<br/>
{{ viaggio.html_tragitto|safe }}
