{% load media %}
{% if tam_stealth %}
	<td>{{ viaggio.da.nome.0 }} - {{ viaggio.a.nome.0 }}</td>
{% else %}
{% if viaggio.arrivo %}
	<td class="arrivo">
		{% if viaggio.is_long %}<strong>{% endif %}
		{% ifequal viaggio.a luogoRiferimento %}
			ARRIVO {{ viaggio.da }}
		{% else %}
			{{ viaggio.da }}<img src="{% media_url "fout.png" %}" alt="Arrivo" />{{ viaggio.a }}
		{% endifequal %}
		{% if viaggio.is_long %}</strong>{% endif %}
	</td>
{% else %}
	<td class="partenza">
		{% if viaggio.is_long %}<strong>{% endif %}
		{% ifequal viaggio.da luogoRiferimento %}
			PARTENZA {{ viaggio.a }}
		{% else %}
			{{ viaggio.da }}<img src="{% media_url "fin.png" %}" alt="Partenza" />{{ viaggio.a }}
		{% endifequal %}
		{% if viaggio.is_long %}</strong>{% endif %}
	</td>
{% endif %}
{% endif %}