{% load staticfiles %}{% load url from future %}
<div class="cliente">
	{% if viaggio.cliente %}{{ viaggio.cliente }}{% else %}<i>Privato</i>{% if viaggio.passeggero %}:<br/>
		<a href="{% url "tamPrivatoId" viaggio.passeggero.pk %}?next={{ full_request_path }}">{{ viaggio.passeggero }}</a>
	{% endif %}{% endif %}
</div>
{% if viaggio.is_prenotazione %}
	{% if viaggio.prenotazione %}prenotazione {{ viaggio.prenotazione.id }}
		{% if viaggio.prenotazione.had_attachment %}
			{% if viaggio.prenotazione.attachment %}
				<a href="{{ viaggio.prenotazione.attachment.url }}" target="_blank">
					<img src="{% static "img/attachment.gif" %}" title="Un allegato è già stato inviato"/>
				</a>
			{% else %}
				<img src="{% static "img/attachment.gif" %}" title="Un allegato è già stato inviato"/>
			{% endif %}
		{% endif %}
		<br/>
	{% endif %}
{% endif %}
{{ viaggio.numero_passeggeri }} pax
{% if viaggio.esclusivo %}
	<i class="sprite icon-t"></i>
{% else %}
	<i class="sprite icon-c"></i>
{% endif %}
