{% spaceless %}
<span class='lordo{% if viaggio.prezzo == 0 %} error{% endif %}'>{{ viaggio.prezzo }}</span>
{% if viaggio.commissione %}- c{{ viaggio.commissione }}{% ifequal viaggio.tipo_commissione "P" %}%{% endifequal %}{% endif %}
{% if viaggio.costo_autostrada %}- a{{ viaggio.costo_autostrada }}{% endif %}
{% if viaggio.pagamento_differito or viaggio.fatturazione%}{{viaggio.incidenza_differto}}{% endif %}
{% if viaggio.abbuono_fisso %}- b{{viaggio.abbuono_fisso}}{% endif %}
{% if viaggio.abbuono_percentuale %}- b{{viaggio.abbuono_percentuale}}%{% endif %}
{% if viaggio.costo_sosta %}- s{{ viaggio.costo_sosta }}{% endif %}
{% if viaggio.prezzo_sosta %}+{{viaggio.prezzo_sosta}} {{viaggio.incidenza_prezzo_sosta}}{% endif %}
=
{% if nolink %}
	<strong>{{ viaggio.prezzo_finale|floatformat:2 }}€</strong>
{% else %}
	<a href="{% url tamNuovaCorsa2Id viaggio.id %}">{{ viaggio.prezzo_finale|floatformat:2 }}€</a>
{% endif %}
{% endspaceless %}