{% load static %}
<form action="" method="get" id="filterForm">
    <div style="float:right;">
        <a href="?format=xls"><i class="sprite icon-excel"></i></a>
        <select name="filterCliente" class="selectFilter" id='select_clienti'>
            {% if clienteFiltrato %}
                <option value="{{ clienteFiltrato.id }}" selected>{{ clienteFiltrato.nome }}</option>{% endif %}
            <option value="">Tutti i clienti</option>
            <option value="Privato"{% ifequal "Privato" filterCliente %} selected="selected"{% endifequal %}>Privato
            </option>
        </select>
        <select name="filterConducente" class="selectFilter" id='select_conducenti'>
            {% if conducenteFiltrato %}
                <option value="{{ conducenteFiltrato.id }}" selected>{{ conducenteFiltrato.nick }}</option>{% endif %}
            <option value="">Tutti i soci</option>
            <option value="Non confermate"{% ifequal "Non confermate" filterConducente %}
                    selected="selected"{% endifequal %}>Non confermate
            </option>
            {% if TAM.SPECIAL_FILTERS.BUS %}
                <option value="bus"{% ifequal "bus" filterConducente %}
                        selected="selected"{% endifequal %}>BUS
                </option>
            {% endif %}
        </select>
        <select name="filterType" class="selectFilter">
            <option value="Tutti i tipi">Tutti i tipi</option>
            {% for valore in filtriTipo %}
                <option value="{{ valore }}"{% ifequal valore filterType %}
                        selected="selected"{% endifequal %}>{{ valore }}</option>{% endfor %}
        </select>
        <select name="filterFlag" class="selectFilter">
            <option value="Tutti i flag">Tutti i flag</option>
            {% for valore in filtriFlag %}
                <option value="{{ valore }}"{% ifequal valore filterFlag %}
                        selected="selected"{% endifequal %}>{{ valore }}</option>{% endfor %}
        </select>
        <select name="filterWhen" id="whenSelect" class="selectFilter">
            {% for filterValue, desc in filtriWhen %}
                <option value="{{ filterValue }}"{% ifequal filterValue filterWhen %}
                        selected="selected"{% endifequal %}>{{ desc }}</option>{% endfor %}
            <option value="advanced" id="advDateFilter"{% if filtroWhenAvanzato %} selected="selected"{% endif %}>Filtro
                avanzato...
            </option>
        </select>
		<span class="advFilters"{% if not filtroWhenAvanzato %} style='display:none;'{% endif %}> dal
			<input name="dstart" type="text" value='{{ data_inizio|date:"d/m/Y" }}'/>
			al
			<input name="dend" type="text" value='{{ data_fine|date:"d/m/Y" }}'/>
		</span>
        <input class="filterOkBTN" type="submit" value="Filtra" style="padding:0 15px; margin:0;"/>
    </div>
</form>
