{% load utilTag %}
{% load media %}
{% if viaggio.punti_diurni or viaggio.punti_notturni %}
<div class='supplementari'>
	{%if viaggio.punti_diurni %}
		{% for i in viaggio.punti_diurni_interi_list %}<img src="{% media_url "morning.png" %}" alt="*" />{% endfor %}
		{% if viaggio.punti_diurni_quarti = 0.25 %}<img src="{% media_url "morning14.png" %}" alt="1/4" />{% endif %}
		{% if viaggio.punti_diurni_quarti = 0.50 %}<img src="{% media_url "morning24.png" %}" alt="2/4" />{% endif %}
		{% if viaggio.punti_diurni_quarti = 0.75 %}<img src="{% media_url "morning34.png" %}" alt="3/4" />{% endif %}
	{% endif %}
	{%if viaggio.punti_notturni %}
		{% for i in viaggio.punti_notturni_interi_list %}<img src="{% media_url "night.png" %}" alt="*" />{% endfor %}
		{% if viaggio.punti_notturni_quarti = 0.25 %}<img src="{% media_url "night14.png" %}" alt="1/4" />{% endif %}
		{% if viaggio.punti_notturni_quarti = 0.50 %}<img src="{% media_url "night24.png" %}" alt="2/4" />{% endif %}
		{% if viaggio.punti_notturni_quarti = 0.75 %}<img src="{% media_url "night34.png" %}" alt="3/4" />{% endif %}
	{% endif %}
</div>
{% endif %}
<div class="trip_detail">
{% with viaggio.tratta_start as tratta_start %}
    {% if tratta_start %}
    	{% if viaggio.prefratello %}{{ viaggio.prefratello.a }} <img src="{% media_url "arrow_right.png" %}" alt="..." />{% endif %}
		{% if tratta_start.is_valid %}partenza alle {{ viaggio.date_start|date:"H:i" }},{% else %}<a href="{% url tamTrattaId tratta_start.id %}" class="errorlist">pretratta scononosciuta</a>{% endif %}
	<br/>
    {% endif %}
{% endwith %}
{% if viaggio.tratta %}
    {% if viaggio.tratta.is_valid %}
        da {{ viaggio.da }} {% if viaggio.da.speciale = 'A' %}<img src='{% media_url "flag/luogo-airport.png" %}' />{% endif%} a {{ viaggio.a }} in {{ viaggio.tratta.minuti }}min.
    {% else %}
        <a href="{% url tamTrattaId viaggio.tratta.id %}" class="errorlist">tratta scononosciuta</a>
    {% endif %}
    <br/>
{% endif %}
{% with viaggio.tratta_end as tratta_end %}
    {% if tratta_end %}
	{% if tratta_end.is_valid %}
	    {% if viaggio.nextfratello %}continuo fino a {{ viaggio.nextfratello.da }}{% else %}ritorno alle{% endif %}
	    {{ viaggio.date_end|date:"H:i" }}.
	{% else %}<a href="{% url tamTrattaId tratta_end.id %}" class="errorlist">finetratta scononosciuta</a>
	{% endif %}
    {% endif %}
{% endwith %}
{% if viaggio.nextfratello %}
    {% with viaggio.sostaFinaleMinuti as minutifermo  %}{% ifnotequal minutifermo 0 %}sosta di {{ minutifermo }} m.{% endifnotequal %}{% endwith %}
	<img src="{% media_url "arrow_right.png" %}" alt="..." />
{% endif %}
</div>