{% load staticfiles %}
{% if viaggio.fatturazione %}<img src="{% static "flag/fattura.png" %}" alt="richiede fattura" />{% endif %}
{% if viaggio.pagamento_differito %}<img src="{% static "flag/timedelta.png" %}" alt="pagamento differito" />{% endif %}
{% if viaggio.cartaDiCredito %}<img src="{% static "flag/card.png" %}" alt="carta" />{% endif %}
{% if viaggio.incassato_albergo %}<div>CONTO FINE MESE</div>{% endif %}
{% ifequal viaggio.is_abbinata "P" %}<div>collettivo in partenza</div>{% endifequal %}
