{% extends "base.html" %}
{% load pipeline static %}
{% block topContent %}
	{% include "corse/corse_filter.inc.html" %}
{% endblock %}
{% block content %}
	<div id="listaCorsePadding"></div>
	{% if thisPage.has_other_pages %}
	<div class="countblock noprint">
			{% include "paginator.inc.html" %}
	</div>
	<br style="clear:both" />
	{% endif %}

	<div id="selActions">
		<div id="associa">
			<a id="linkUrl" href="#"><i class="sprite icon-assoc"></i></a>
			<a id="unlinkUrl" href="#"><i class="sprite icon-smallX"></i></a>
		</div>
	</div>
    {% if viaggi %}
		<form id="viaggioActions" action="" method="post">
			{% csrf_token %}
			<div>
				<input id="assoType" type="hidden" name="assoType" value="" />
			</div>
		<table id="listaCorse" style="text-align:center" class="tablesorter">
			<thead>
				<tr>
				    <th></th>
				    <th>Data</th>
				    <th>Cliente</th>
				    <th>da - a</th>
				    <th>Note</th>
					{% if user.is_superuser or not perms.tam.disableviewprice %}<th></th>{% endif %}
				    <th>Socio</th>
				</tr>
			</thead>
			<tbody>
			{% for viaggio in viaggi %}
				{% if not viaggio.padre_id and not distinct %}{% cycle 'even' 'odd' as back_class silent %}{% endif %}
               	{% include "corse/riga_viaggio.inc.html" %}
			{% endfor %}
			</tbody>
		</table>
		</form>
        <div class="countblock noprint">
			{% if thisPage.has_other_pages %}
				{% include "paginator.inc.html" %}
			{% endif %}
			corse totali: {{ paginator.count }}
		</div><br style="clear:right;" />
	{% else %}
	    <h3>Nessuna corsa programmata.</h3>
	{% endif %}
{% endblock %}
