{% extends "base.html" %}
{% load media %}
{% block topContent %}
	{% include "corse/corse_filter.inc.html" %}
{% endblock %}
{% block content %}
	<br style="margin-top:1em">
	{% if thisPage.has_other_pages %}
	<div class="countblock noprint">
			{% include "paginator.inc.html" %}
	</div>
	<br style="clear:both" />
	{% endif %}

	<div id="selActions">
		<div id="associa">
			<strong>Link</strong><br/>
			<a id="linkUrl" href="#"><img src="{% media_url "assoc.png" %}" alt="semplice" title="associazione semplice"/></a><br/>
			<a id="unlinkUrl" href="#"><img src="{% media_url "smallX.png" %}" alt="x" title="disassocia" /></a><br/>
		</div>
	</div>
	
    {% if viaggi %}
		<form id="viaggioActions" action="" method="post">
			<div>
				<input id="assoType" type="hidden" name="assoType" value="" />
			</div>
		<table id="listaCorse" style="text-align:center" class="tablesorter">
			<thead>
				<tr>
				    <th></th>
				    <th>Data</th>
				    <th>Cliente</th>
				    <th>Da - A</th>
				    <th>Note</th>
				    <th></th>
				    <th>Conducente</th>
				</tr>
			</thead>
			<tbody>
			{% for viaggio in viaggi %}
               	{% include "corse/riga_viaggio.inc.html" %}
			{% endfor %}
			</tbody>
		</table>
		</form>
        <div class="countblock noprint">
			{% if thisPage.has_other_pages %}
				{% include "paginator.inc.html" %}
			{% endif %}
			corse totali: {{ paginator.count }}
		</div><br style="clear:right;" />
	{% else %}
	    <h3>Nessuna corsa programmata.</h3>
	{% endif %}
{% endblock %}
