{% load utilTag %}
{% load staticfiles %}
<tr class='{% if viaggio.warning and not viaggio.annullato %}warning {% elif viaggio.annullato %}annullato {% endif %}{{ back_class }}'>
	<td>
		{% if not distinct %}
			{% if not viaggio.conducente_confermato %}
				<input class="viaggioId" type="checkbox" name="viaggioId" value="{{viaggio.id}}" />
			{% endif %}
			{% if viaggio.padre_id %}
                <i class='sprite icon-frecciaverde vson'></i>
			{% else %}
				{% if viaggio.is_abbinata %}
                    <i class="sprite icon-frecciagiu vfat"></i>
				{% endif %}
			{% endif %}
		{% endif %}
	</td>

	<td>
		{% include "corse/cella_ora_e_percorso.inc.html" %}
	</td>

	{% include "corse/cella_partenza_arrivo.inc.html" %}

	<td{% if viaggio.is_prenotazione %} class='prenotazione'{% endif %}>
		{% include "corse/cella_cliente.inc.html" %}
	</td>

	<td class='note'>{% include "corse/cella_note.inc.html" %}</td>

	{% if user.is_superuser or not perms.tam.disableviewprice %}
		<td class='cellaPrezzo'>
			{% include "classifiche/descrizione-classifica-viaggio.inc.html" %}

			{% if viaggio.is_valid %}
				<div class="km">{{ viaggio.km }} km.</div>
			{% else %}
				<div class='errorlist'>{{ viaggio.km }} km.</div>
			{% endif %}

			{% include "corse/corse_prezzo_viaggio.inc.html" %}
			{% include "corse/flags.inc.html" %}
		</td>
	{% endif %}

	<td>
	{% if viaggio.padre_id %}
		<i class="sprite icon-arrow_join"></i>
		{% if distinct and viaggio.conducente %}<br>{{ viaggio.conducente }}{% endif %}
	{% else %}
		{% if viaggio.annullato %}
			{% if viaggio.conducente %}{{ viaggio.conducente }}{% endif %}
		{% else %}
			{% with viaggio.confirmed as confirmed %}
				{% if viaggio.conducente_richiesto %}
					<strong>no suppl:<br/>{{ viaggio.conducente }}</strong>
				{% else %}
					{% if confirmed %}
						{{ viaggio.conducente }}
					{% else %}
						{% with viaggio.classifica as classificaViaggio %}
						{% if classificaViaggio %}
							<form action="" method="post">
								{% csrf_token %}
								<input type="hidden" name="viaggio" value="{{ viaggio.id }}" />
								<select name="conducente">
									{% for conducente, cname, cavailable, ctags in classificaViaggio %}
										<option value="{{ conducente.id }}"{% if ctags %} class='{{ ctags }}'{% endif %}>
											{{ conducente }} {{ cname }}
										</option>
									{% endfor %}
								</select>
								<input type="checkbox" name="confirmed" class="cbConducente" />
								{# <input type="submit" name="confirm" class='conducenteOkBtn' value="ok" /> #}
							</form>
						{% else %}
							Nessun conducente disponibile
						{% endif %}
						{% endwith %}
					{% endif %}
				{% endif %}
				{% if confirmed %}<br/><i class="sprite icon-ok"></i>{% endif %}
			{% endwith %}
		{% endif %}
	{% endif %}
	</td>
</tr>
