{% load utilTag %}
{% load cache %}
{% cache 3600 viaggio viaggio.id %}
<tr{% if viaggio.warning %} class="warning"{% endif %}>
	<td>
		{% if not viaggio.conducente_confermato %}
			<input class="viaggioId" type="checkbox" name="viaggioId" value="{{viaggio.id}}" /><br/>
		{% endif %}
		{% if viaggio.padre %}
				<img src="/media/frecciaverde.png" alt="*" />
		{% else %}
			{% if viaggio.is_abbinata %}
				<img src="/media/frecciagiu.png" alt="." />
			{% endif %}
		{% endif %}
	</td>

	<td>
		{% include "corse/cella_ora_e_percorso.inc.html" %}
	</td>

	<td>
		{% include "corse/cella_cliente.inc.html" %}
	</td>

	{% include "corse/cella_partenza_arrivo.inc.html" %}

	<td>{% include "corse/cella_note.inc.html" %}</td>

	<td>
		<p>
			{% if viaggio.punti_abbinata %}
				{% num_range viaggio.punti_abbinata as punti_abbinata %}
				{% for punto in punti_abbinata %}<img src="/media/casina.png" alt='DV' />{% endfor %}
				<br/>
				{{viaggio.punti_abbinata}} x {{viaggio.prezzoPunti}} nei doppi Venezia.<br/>
			{% endif %}
			{% if  viaggio.prezzoVenezia %}{{viaggio.prezzoVenezia}} nei Venezia.{% endif %}
			{% if  viaggio.prezzoPadova %}{{viaggio.prezzoPadova}} nei Padova.{% endif %}
			{% if  viaggio.prezzoDoppioPadova %}{{viaggio.prezzoDoppioPadova}} nei doppi Padova.{% endif %}
		</p>
	
		{% if viaggio.is_valid %}
			{{ viaggio.km }} km.
		{% else %}
			<span class='errorlist'>{{ viaggio.km }} km.</span>
		{% endif %}
		
		<br/>
		{% include "corse/corse_prezzo_viaggio.inc.html" %}
		{% include "corse/flags.inc.html" %}
	</td>


	<td>
	{% if viaggio.padre and recurseChild %}
		<img src="/media/arrow_join.png" alt='' />
	{% else %}
		{% with viaggio.confirmed as confirmed %}
			{% if viaggio.conducente_richiesto %}
				<strong>no suppl:<br/>{{ viaggio.conducente }}</strong>
			{% else %}
				{% if confirmed %}
					{{ viaggio.conducente }}
				{% else %}
					{% with viaggio.classifica as classificaViaggio %}
					{% if classificaViaggio %}
						<form action="" method="post">
							<div>
								<input type="hidden" name="viaggio" value="{{ viaggio.id }}" />
								<select name="conducente">
									{% for conducente in classificaViaggio %}<option value="{{ conducente.id }}">{% if not conducente.attivo %}*inattivo*{% endif %}{% if conducente.assente %}*assente*{% endif %}{{ conducente }}</option>{% endfor %}
								</select><br/>
								<input type="checkbox" name="confirmed" class="cbConducente" />
								<input type="submit" name="confirm" class='conducenteOkBtn' value="ok" />
							</div>
						</form>
					{% else %}
					    Nessun conducente disponibile
					{% endif %}
					{% endwith %}
				{% endif %}
			{% endif %}
			{% if confirmed %}<br/><img alt="confermato" src="/media/ok.png" /> {% endif %}
		{% endwith %}
        {% endif %}
	</td>
</tr>
{% endcache %}
