#taxilogo {
	float: right;
	width: 200px;
	top: 0;
	right: 0;
}

body {
	padding-bottom: 20px;
	background: #ddd;
	background-repeat: repeat-x;
	background-position: bottom left;
	background-attachment: fixed;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 20px;
}
.loghetto {
	margin-right: 15px;
}
#mainContent {
	max-width: 800px;
	margin: 0 auto;
}

.box {
	padding: 10px 29px;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #999;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
	box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.box .form-signin-heading, .box .checkbox {
	margin-bottom: 10px;
}

#footer {
	font-size: 0.8em;
	text-align: right;
}
label {
	width: 100%;
	margin: 0;
	padding: 0;
}

input[type="text"], input[type="password"], input[type="number"]
textarea, select {
	border: 1px solid #CCCCCC;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
}

input[type="text"], input[type="password"], input[type="submit"], input[type="number"], textarea, select, btn-group {
	font-size: 16px;
	height: auto;
	margin-bottom: 15px;
	padding: 7px 9px;
	width: 100%;
	padding: 7px 0;
}

textarea {
	height: 5em;
}

.chzn-container-single .chzn-single, .chzn-container-single li {
	height: 2em;
	line-height: 2em;
	font-size: 16px;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
ul li {
	display: inline-block;
	padding: 15px;
}
li label {
	display: inline;
}

ul.errorlist li {
	/* form errors */
	color: red;
	font-weight: bolder;
	padding: 0;
	margin-top: 15px;
}
input.date-widget, input.time-widget {
	width: 40%;
	max-width: 150px;
	margin-right: 15px;
	display: inline !important;
}

/* --------  cronologia  ------------- */
h3 {
	margin:5px 0;
	padding:0;
}
table.prenotazioni {
	width: 100%;
	margin: 20px auto;
}
table.prenotazioni td {
	text-align:center;
	border: 1px solid black;
}
.prenotazioni .note {
	font-size: smaller;
}
.prenotazioni .arrivo {
	background-color: tomato;
}
.prenotazioni .partenza {
	background-color: lightgreen;
}

/* -------- messaggi ------------- */
.messages div{
	padding:3px 6px;
	margin:2px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #fcf8e3;
	color:#c09853;
	border: 1px solid #c09853;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.messages div.success{
	background-color: #dff0d8;
	border-color: #468847;
	color: #468847;
}
.messages div.error{
	background-color: #f2dede;
	border-color: #b94a48;
	color: #b94a48;
}
.messages div.debug{
	background-color: #ccc;
	border-color: #666;
	color: #666;
}
.messages div.info{
	background-color: #d9edf7;
	border-color: #3a87ad;
	color: #3a87ad;
}
.helptext {
	display:block;
	margin:0;
	font-size:smaller;
	
}

/* paginator */
.countblock{
	clear:both;
	float:right;
	font-size:smaller;
}
.countblock a{
	text-decoration:none;
}
.countblock .page {
	padding:5px 10px;
	border:1px solid silver;
}
.countblock .blankpage {
	padding:5px 10px;
}
.countblock .selected {
	background:silver;
	color:black;
}
