{% extends "base.html" %}

{% block title %}Configurazione licenza &raquo; {{ block.super }}{% endblock %}

{% block content %}
	<h1>Configurazione licenza.</h1>
	
<form action="." method="post">
    <div>
        TaM può funzionare in versione di prova con tutte le funzioni (trial version) se hai una licenza a tempo.<br/>
        Se invece possiedi una licenza completa puoi inserire qui il tuo codice di licenza.<br/>
        <br/>
		<h2>
	        {% if tam_licensed %}
				{% if tam_expiration_date %}
					TaM attualmente è registrato con una licenza provvisoria che scadrà il {{ tam_expiration_date|date:"j F Y" }}.
                {% else %}
                    TaM attualmente è registrato a {{ tam_registred_user }}.
				{% endif %}
				
	        {% else %}
	            {% if tam_expiration_date %}
					La licenza di prova che avevi è scaduta il {{ tam_expiration_date|date:"j F Y" }}
                {% else %}
                    TaM non è registrato.
	            {% endif %}
	        {% endif %}
        </h2>
        <br/>
    </div>
	<table>{{ form }} <tr><td><input name="new_name" type="submit" value="Cambia la licenza"/></td></tr> </table>
</form>

{% endblock %}
