{% extends "base.html" %}

{% block title %}Log delle modifiche &raquo; {{ block.super }}{% endblock %}
{% block css %}
	{{ block.super }}
	<link rel="stylesheet" href="/media/css/actionLog.css" type="text/css"/>
{% endblock css %}

{% block content %}
<h1>Log delle modifiche.</h1>

<form action="" method="get" id="filterForm">
	<div style="float:right;">
		Inserimenti postumi: <input type="checkbox" name="preInsert"  {% if filterPreInsert %}checked='checked'{% endif %} />
		Filtra per:
		<select name="user" class="selectFilter">
			<option value="">Utente</option>
			{% for utente in utenti %}
				<option value="{{ utente.id }}"{% ifequal utente.id filterUtente %} selected="selected"{% endifequal %}>{{ utente }}</option>
			{% endfor %}
		</select>
		<input class="filterOkBTN" type="submit" value="Filtra" style="padding:0 15px; margin:0;"/>
	</div>
</form>

{% if thisPage.has_other_pages %}
	<div class="countblock">
			{% include "paginator.inc.html" %}
	</div>
{% endif %}
<table class="tablesorter">
	<tr>
		<th>Ora modifica</th><th>Utente</th><th>Oggetto</th><th>Azione</th><th>Dettagli</th>
	</tr>

{% for action in actions %}
	<tr>
		<td {% ifequal action.content_type viaggioType%}{% if action.preInsert %}style="background-color:orange;"{% endif %}{% endifequal %}>
			{% ifequal action.data.date today %}
				<span class="today">{{ action.data|date:"H:i" }}</span>
			{% else %}
				<span class="date">{{ action.data|date:"D d M, Y H:i" }}</span>
			{% endifequal %}
			
		</td>
		<td>{{ action.user }}</td>
		<td>{% with action.content_object.url as obj_url %}
				{% if  obj_url %}
					<a href="{{ obj_url }}">{{ action.content_type }} {{ action.object_id }}</a>
				{% else %}
					{{ action.content_type }} {{ action.object_id }}
				{% endif %}
			{% endwith %}
		</td>
		<td><img src="/media/actionIcons/{{ action.action_type}}.png" alt="{{ action.action_type}}" /></td>
		<td>{{ action.description }}</td>
	</tr>
{% endfor %}
</table>

{% endblock %}
