{% extends "base.html" %}

{% block title %}Azioni correttive &raquo; {{ block.super }}{% endblock %}

{% block content %}
<h1>Azione correttiva...</h1>
{% if messageLines %}
<p>
	{% for line in messageLines %}
		<pre style='margin:0'>{{ line }}</pre>
    {% endfor %}
</p>
{% endif %}

<form method='post' action=''>
	<input type='submit' name='spostaILog' value='Sposta i log in un DB separato (Asincrono)' />
</form>

<form method='post' action=''>
	<input type='submit' name='permessiStandard' value='Reset di tutti i permessi e dei gruppi allo standard' />
</form>

{% if error %}
	<p>
  	{{ error }}
	</p>
{% endif %}

{% endblock %}
