{% extends "base.html" %}{% load i18n %}

{% block title %}Impostazione dei permessi &raquo; {{ block.super }}{% endblock %}

{% block content %}
	<h1>Impostazioni permessi</h1>

	{% if unassociated_drivers %}
		<h2>Alcuni conducenti non sono associati ad un utente</h2>
		<p>Per le codepresenze ed altre funzioni è necessario associare
			ai conducenti un utente.
		</p>
		<p>Clicca sul conducente, e associalo al corrispondente utente di TaM</p>
		<ul>
			{% for conducente in unassociated_drivers %}
				<li><a href="{% url "tamConducenteId" conducente.id %}">
					{{ conducente }}
				</a></li>
			{% endfor %}
		</ul>
	{% endif %}

	<form method="get" action=".">
		<p>
			<label for="selectedUser">Seleziona l'utente da gestire.</label>
			<select name="selectedUser" id="selectedUser">
				{% for iterUser in users %}
					<option{% ifequal selectedUser iterUser %} selected="selected"{% endifequal %}
															   value="{{ iterUser.username }}">
						{{ iterUser.username }}{% if iterUser.prenotazioni %} -
							prenotazioni{% endif %}
					</option>
				{% endfor %}
			</select>
			<input type="submit" value="Seleziona"/>
		</p>
	</form>
	<p><a href="{% url "newUser" %}">Nuovo utente</a></p>
	{% if selectedUser %}
		<form method="post" action=".">
			{% csrf_token %}
			dettagli dell'utente <strong>{{ selectedUser.username }}</strong>

			<div {% if errors.password %} class="error"{% endif %}>
				{% for error in errors.password %}<p>{{ error }}</p>{% endfor %}
				<label>Nuova password:<input type="password" name="password"></label>
				<label>riconferma: <input type="password" name="passwordbis"></label>
			</div>

			<p id='user_group' {% if utentePrenotazioni %}style="display:none"{% endif %}>
				<label for="selectedGroup">Gruppo di appartenenza:</label>
				<select name="selectedGroup" id='selectedGroup' multiple="multiple">
					{% for iterGroup in groups %}
						<option{% if iterGroup.selected %}
							selected="selected"{% endif %}>{{ iterGroup.name }}</option>
					{% endfor %}
				</select>
			</p>
			<p>
				<a href="{% url "delUser" username=selectedUser.username %}">
					Cancellazione utente
				</a>
			</p>

			{% if manage_prenotazioni %}
				{% include "utils/manageUsers-prenotazioni.inc.html" %}
			{% endif %}

			<p><input type="submit" name="change" value="Applica" class='bigButton'/></p>



			{% if perms.tam.reset_sessions and sessions %}
				<h2>{% trans "Sessioni aperte" %}</h2>
				<ul>
					{% for session in sessions %}
						<li>{{ session.decoded.userAgent }}</li>
					{% endfor %}
				</ul>
				<p><input type="submit" name="resetSessions"
						  value="{% trans 'Disconnetti utente' %}"
						  class='bigButton'/></p>
			{% endif %}
		</form>
	{% endif %}

{% endblock content %}

{% block bottom %}
	{{ block.super }}
	{% if manage_prenotazioni %}
		<script type="text/javascript" src="/static/js/jquery.asmselect.js"></script>
		<link rel="stylesheet" type="text/css" href="/static/css/jquery.asmselect.css"/>
	{% endif %}
	<script type="text/javascript">
		$(document).ready(function () {
			var $esclusivoBlock = $('#esclusivoBlock').find('input')

			$esclusivoBlock.change(
				function () {
					var utente_prenotazioni = $('#tipo_prenotazioni_1').is(':checked')
					if (utente_prenotazioni) {
						$('#configuratore_prenotazioni').show('slow')
						$('#user_group').hide('slow')

					}
					else {
						$('#configuratore_prenotazioni').hide('slow')
						$('#user_group').show('slow')
					}

				}
			)
			$esclusivoBlock.change()

			$("#configuratore_prenotazioni").find("select[multiple]").asmSelect({
				highlight: true,
				removeLabel: "rimuovi",
				highlightAddedLabel: "Aggiunto: ",
				highlightRemovedLabel: "Rimosso: "
			})
		})
	</script>
{% endblock bottom %}
