# Django related ***
Django~=4.2
channels[daphne]
channels-redis
pyyaml

# security
argon2-cffi

# static files ***
django-pipeline==2.1.0
jinja2

# exports ***
xlrd
xlwt
reportlab

# date things ***
pytz
python-dateutil

# DB ***
psycopg==3.1.8

# deployment ***
# gunicorn
uwsgi
# setproctitle to set the process title, doesn't work on Windows
setproctitle
psutil
requests

# mails ***
# djrill was for Mandrill, but their free tier has been suspended
# djrill
django-anymail[mailgun]

# proper ssl connections ***
pyopenssl
ndg-httpsclient
pyasn1

# request throttling
django-brake

# cache
django-redis

# webfaction cli
# wfcli

-r req-realtime.txt
