# Django related ***
Django~=3.2
channels
pyyaml

# security
argon2-cffi

# static files ***
django-pipeline==2.0.9
jinja2

# exports ***
xlrd
xlwt
reportlab==3.5.55

# date things ***
pytz
python-dateutil

# DB ***
psycopg2-binary==2.8.6

# deployment ***
# gunicorn
uwsgi
# setproctitle to set the process title, doesn't work on Windows
setproctitle
psutil
requests

# mails ***
# djrill was for Mandrill, but their free tier has been suspended
# djrill
django-anymail[mailgun]==3.0

# proper ssl connections ***
pyopenssl
ndg-httpsclient
pyasn1

# request throttling
django-brake

# cache
django-redis

# webfaction cli
# wfcli

-r req-realtime.txt
