# Django related ***
Django==2.0
pyyaml

# security
argon2-cffi

# static files ***
django-pipeline < 1.6
jinja2

# exports ***
xlrd
xlwt
reportlab

# date things ***
pytz
python-dateutil

# DB ***
psycopg2

# deployment ***
gunicorn
# setproctitle to set the process title, doesn't work on Windows
setproctitle
psutil
requests

# mails ***
# djrill was for Mandrill, but their free tier has been suspended
# djrill
django-mailgun

# proper ssl connections ***
pyopenssl
ndg-httpsclient
pyasn1

# python3 compatibility ***
future

# request throttling
django-brake

# cache
django-redis

# webfaction cli
wfcli

-r req-realtime.txt
