{% extends "base.html" %}

{% block title %}Changelog &raquo; {{ block.super }}{% endblock %}

{% block content %}

<h1>Cronologia revisioni</h1>
<table class="tablesorter">
	<tr>
		<th>data</th> <th>versione</th> <th></th>
	</tr>
	
	<tr>
		<td>8/10/2012</td>
		<td>4.0.1</td>
		<td>
			Varie correzioni di errori.<br />
			Aggiunto un flag per annullare le corse, in modo da evidenziarle
			mantenendole fuori dalle classifiche e fuori dagli Excel. <br />
			Sfondo dei gruppi di corse con sfondo alternato, per facilitarne la lettura.
		</td>
	</tr>
	
	<tr>
		<td>1/10/2012</td>
		<td>4.0.0</td>
		<td>
			Backup su PostgreSQL più veloce e senza problemi di lock in scrittura.<br/>
			Backup reimplementato con le funzioni native del nuovo db.			
		</td>
	</tr>
	
	<tr>
		<td>24/9/2012</td>
		<td>3.7.8</td>
		<td>
			Nell'elenco passeggeri privati, ora è possibile vedere
			in quante corse è usato un passeggero e se non è usato in nessuna
			corsa futura, cancellarlo (utenti potenti).
		</td>
	</tr>
	
	<tr>
		<td>21/9/2012</td>
		<td>3.7.7</td>
		<td>
			Miglioramenti ai Task per i processi lunghi.		
		</td>
	</tr>
	
	<tr>
		<td>11/9/2012</td>
		<td>3.7.6</td>
		<td>
			Le fatture conducente senza IVA, per i conducenti che non possono emettere senza IVA ora hanno l'iva		
		</td>
	</tr>
	
	<tr>
		<td>7/9/2012</td>
		<td>3.7.5</td>
		<td>
			Evidenziati i prezzi a zero nella lista corse.		
		</td>
	</tr>
	
	<tr>
		<td>31/8/2012</td>
		<td>3.7.4</td>
		<td>
			Qualche ottimizzazione alla visualizzazione delle corse,
			campi data modificabili in testata fatture.		
		</td>
	</tr>
	
	<tr>
		<td>1/7/2012</td>
		<td>3.7</td>
		<td>
			Rivista la procedura di fatturazione per rendere tutto più dinamico e parametrizzabile.<br>
			Le ricevute ora non sono più generabili, al loro posto vengono create
			delle fatture esenti iva consorzio e conducente.		
		</td>
	</tr>

	<tr>
		<td>4/6/2012</td>
		<td>3.6</td>
		<td>
			Separata la gestione dei parametri per rendere le fatturazione e classifiche estraibili.<br/>
			Sessioni cookie-based per caricare meno il DB.
		</td>
	</tr>

	<tr>
		<td>28/5/2012</td>
		<td>3.5</td>
		<td>
			Log su DB separato per avere maggiore concorrenza in scrittura. Migliorata l'occupazione su disco.
		</td>
	</tr>
	
	<tr>
		<td>17/5/2012</td>
		<td>3.41</td>
		<td>
			Le ricevute si generano normalmente ma producono due documenti:<br/>
			uno dal consorzio al cliente e uno dal conducente al consorzio.
		</td>
	</tr>
	
	<tr>
		<td>7/5/2012</td>
		<td>3.4</td>
		<td>
			Aggiornamento a Django 1.4 e piccole migliorie varie.<br />
			Gli utenti normali ora possono modificare le note in testata delle fatture.<br />
			Messaggi con nuovo framework distinti tra errori, warning, info... 
		</td>
	</tr>
	
	<tr>
		<td>13/2/2012</td>
		<td>3.1</td>
		<td>
			Quando parto da un aeroporto tengo conto di mezz'ora in più prima di ritornare.<br/>
			Aggiunto un'opzione ai listini per forzare la fatturazione, per forzare la NON fatturazione o per lasciare l'impostazione del cliente.<br/>
			I punti supplementari ora sono calcolati a quarti a seconda della fascia notturna/mattutina toccata e sono assegnati interamente come notturni o mattutini in base alla prevalenza del supplementare.
		</td>
	</tr>
	
	<tr>
		<td>7/1/2012</td>
		<td><b>3.0b</b></td>
		<td>
			<b>Fatturazione</b>.<br/>
			Aggiunta la generazione delle fatture da consorzio a cliente, da conducente a cliente e le
			ricevute da alcuni conducenti al cliente.<br/>
			I conducenti ora hanno un flag che indica se possono emettere ricevute.<br>
			<p>
				Cambiamenti alla gestione dei media.<br/>
				Il tasto ESC da ovunque chiede se ci si vuole disconnettere.<br/>
				Aggiunte le note del cliente, visibili nella lista corse.<br/>
			</p>
			Gli utenti normali non possono più inserire corse con data passata.
		</td>
	</tr>

	<tr>
		<td>3/8/2011</td>
		<td>2.1</td>
		<td>
			Le esportazioni in Excel vengono loggate.<br>
			Viene evidenziato il prezzo lordo, corretto il nome del file esportato dai backup e aggiornata la libreria jquery.<br>
			Grossi miglioramenti nelle prestazioni della lista corse e piccoli miglioramenti generali.
		</td>
	</tr>

	<tr>
		<td>1/1/2011</td>
		<td>2.0</td>
		<td>
			<strong>Archiviazione e appianamento su un altro DB.</strong><br/>
			Aggiunti i link ai conducenti e passeggeri modificati sul log degli eventi.<br/>
			Passaggio ad un version control system: GIT.<br/>
			Tutte le richieste di login in un middleware per garantire una
				copertura totale delle funzioni non pubbliche.<br/>
			Aggiunto al log gli eventi di login/logout.<br/>
			Semplificato il controllo licenza per togliere la necessità di interrogare il DB.<br/>
			Nelle classifiche mostro i conducenti anche se non hanno mai corso.<br/>
			Visualizzo l'anno delle corse vecchie e sottointendo l'anno corrente<br/>
			Aggiunta una pagina con lo stato dei backup, eventi loggati e rivista un po' tutta la procedura.<br/>
			Ora gli utenti devono avere il permesso di richiedere un backup ed eventualmente di scaricarlo.<br/>
			Migliorata la visualizzazione in Google Chrome.<br/>
			Aggiunti un flag "speciale" ai luoghi per indicare se sono stazioni o aeroporti.
				Alle non abbinate da questi luoghi viene applicato un abbuono fisso di 5 o 10€ in creazione.<br/>
			I messaggi all'utente rimangono fissi a schermo, per essere meglio visualizzati nella lista corse.<br/>
		</td>
	</tr>

	<tr>
		<td>24/10/2010</td>
		<td>1.21</td>
		<td>
			Revisione della maschera strumenti.<br/>
			Il prezzo al chilometro è fatto sul (lordo-autostrada-consorzio)
				anziché solo sul lordo.<br/>
		</td>
	</tr>

	<tr>
		<td>23/8/2010</td>
		<td>1.2</td>
		<td>
			Corretto il conguaglio di corse con casette multiple in caso di conguagli parziali.<br/>
			Aggiunta la pagina delle azioni correttive per i superuser.
		</td>
	</tr>

	<tr>
		<td>1/6/2010</td>
		<td>1.19</td>
		<td>
			Aggiunta la data del doppio nella classifica Doppi.<br/>
			Migrazione a Django 1.2.
		</td>
	</tr>

	<tr>
		<td>14/4/2010</td>
		<td>1.18</td>
		<td>
			Il flag "conto fine mese" ora è disponibile ad ogni tipo di cliente.
		</td>
	</tr>

	<tr>
		<td>12/4/2010</td>
		<td>1.17</td>
		<td>
			Nel log delle modifiche evidenziate le corse inserite postume.
		</td>
	</tr>

	<tr>
		<td>3/3/2010</td>
		<td>1.16</td>
		<td>
			L'anagrafica dei clienti privati può ora essere cambiata direttamente dalle corse.<br/>
			Le note del privato vengono stampate (con fondo giallo) nella lista delle corse.<br/>
			Il privato, nella lista delle corse è cliccabile per andare all'anagrafica.
		</td>
	</tr>

	<tr>
		<td>18/2/2010</td>
		<td>1.15</td>
		<td>
			I privati ora si possono creare al volo dalla prima pagina dell'inserimento corse.
			In fondo, nella seconda pagina, si può tornare in fretta per modificarne i dati.
		</td>
	</tr>

	<tr>
		<td>13/2/2010</td>
		<td>1.14</td>
		<td>
			Dietro le quinte: gestiti con Form.Media i Javascript e CSS; migrazioni gestite con South.<br/>
			I privati ora possono avere il flag di fatturabile e pagamento differito.<br/>
			Inserito il flag "Pagamento con carta di credito".<br/>
			Il filtro "Prossime corse" è il predefinito.<br/>
			Richiesta di conferma nella creazione/modifica delle corse se non si è salvato.
		</td>
	</tr>

	<tr>
		<td>13/1/2010</td>
		<td>1.13</td>
		<td>
			Aggiunto al Log delle operazioni la possibilità di filtrare in base all'utente che ha eseguito l'operazione<br/>
			Nella maschera dei prezzi delle corse inserite aggiunto un link alla lista di azioni svolte sulla corsa.
		</td>
	</tr>

	<tr>
		<td>8/1/2010</td>
		<td>1.12</td>
		<td>
			Visualizzazione classifiche: riordinati i doppi Venezia e compressi i supplementari.<br/>
			Impostato un limite di 3000 corse per l'esportazione in Excel.
		</td>
	</tr>

	<tr>
		<td>3/12/2009</td>
		<td>1.1</td>
		<td>
			<strong>Log delle operazioni</strong>: pagina per la visione delle operazioni, log nella struttura dati, Signal per le operazioni sui modelli (Viaggi, Clienti, Conducenti, Tratte e prezzi listino).<br/>
			Pagina per il cambio della propria password, disponibile per ogni utente cliccando sul proprio nome in fondo alla pagina.
		</td>
	</tr>

	<tr>
		<td>23/11/2009</td>
		<td>1.0.2</td>
		<td>
			<strong>Gestione utenti</strong>: gli utenti abilitati possono creare e cancellare gli utenti di TaM, modificarne le password (cancellando automaticamente tutte le sessioni aperte) e il gruppo di permessi.<br/>
			Reimpaginata la schermata di login.	Pagina dei cambiamenti e regole.<br/>
		</td>
	</tr>

	<tr>
		<td>29/10/2009</td>
		<td>1.0.1</td>
		<td>
			Gestione dettagliata dei permessi, ogni utente può avere accesso solo a determinate funzioni.
			Per ora sono presenti 3 gruppi:
			<ul>
				<li>UtentePotente: Utenti che posso cambiare anche le vecchie corse.</li>
				<li>UtenteNormale: Utente che può inserire nuove corse e modificare quelle future.</li>
				<li>Tutti gli altri, che possono accedere in sola lettura.</li>
			</ul>
		</td>
	</tr>

	<tr>
		<td>10/10/2009</td>
		<td><strong>1.0</strong></td>
		<td>
			TAM diventa definitivo.
		</td>
	</tr>
</table>

<p><a href="{% url tam_rules %}">Regole</a></p>
{% endblock content %}