<div class="calendar_new">
	<table>
		<tr>
			<td>
				<label for="conducente">Conducente</label>
			</td>
			<td colspan="4">
				<select id="conducente" name="conducente">
					{% for conducente in conducenti %}
						<option value="{{ conducente.id }}">{{ conducente.nome }}</option>
					{% endfor %}
				</select>
			</td>
		</tr>
		{% for type, caldesc in calendars.items %}
			{% if caldesc.display_as %}
				<tr>
					<td colspan="5">
						<input type="hidden" name="action" value="new">
						{% for viewmode in caldesc.display_as %}
							{% if  viewmode.mode == 'button' %}
								<form method="post" action="">
									{% csrf_token %}
									<input name="day_string" type="hidden" value="{{ selected_day }}">
									<input type="hidden" name="type" value="{{ type }}">
									<input type="hidden" name="subname" value="{{ viewmode.name }}">
									<button type="submit" class="{{ caldesc.tags }}">
										Aggiungi {{ viewmode.name }}</button>
								</form>
							{% elif viewmode.mode == "timedelta" %}
								<div>
									<form method="post" action="">
										{% csrf_token %}
										{#	Time based cal #}
										dalle
									<span>
										<input name="time_from" type="text" placeholder="oo:mm" class="time-widget">
										{{ form.time_from.errors }}
									</span>
										alle
									<span>
										<input name="time_to" type="text" placeholder="oo:mm" class="time-widget">
										{{ form.time_to.errors }}
									</span>

										<input name="day_string" type="hidden" value="{{ selected_day }}">
										<input type="hidden" name="action" value="new">
										<input type="hidden" name="type" value="{{ type }}">
										<button class="{{ caldesc.tags }}" type="submit">
											Aggiungi {{ caldesc.name }}
										</button>
									</form>
								</div>
							{% endif %}
						{% endfor %} {# end viewmode #}
					</td>
				</tr>
			{% endif %}


		{% endfor %}

	</table>
</div>
