{% extends "base.html" %}{% load staticfiles %}
{% block title %}Gestione presenze &raquo; {{ block.super }}{% endblock %}
{% block content %}
	<h1>Gestione presenze</h1>
	<form method="get" action="">
		<label for="day">Scegli il giorno</label>
		<input id="day" name="day" type="text" class="datepicker"
			   value='{{ day|date:"d/m/Y" }}'/>
		<input id='changeday_submit' type="submit" value="vedi calendario"/>
	</form>
	<p><a href="{% url 'calendariopresenze-rank' %}">vedi classifiche</a></p>
	{% if can_edit and perms.calendariopresenze.add_calendar %}
		{% include "calendar/cal_new.html" %}
	{% endif %}
	<div id="calendar_man">
		{% for calType, calDesc in calendars.items %}
			{#			<h2>{{ calDesc.name }}</h2>#}
			<table id='caltype_{{ calType }}' class="calendar tablesorter {{ calDesc.tags }}">
				<thead>
				<tr>
					<th>Conducente in {{ calDesc.name }}</th>
					{% if calDesc.show_timerange %}
						<th>orario</th>
						<th>durata</th>
					{% else %}
						<th>Classifica</th>
					{% endif %}
				</tr>
				</thead>
				<tbody>
				{% for element in calDesc.elements %}
					{% include "calendar/cal_row.html" %}
				{% endfor %}
				</tbody>
			</table>
		{% endfor %}
	</div>
{% endblock %}

{% block bottom %}
	<script src="{% static 'js/timeWidgets.js' %}"></script>
	<script src="{% static 'js/calendariopresenze.js' %}"></script>
{% endblock bottom %}
