{% extends "base.html" %}{% load static %}
{% block title %}Classifica presenze &raquo; {{ block.super }}{% endblock %}
{% block content %}
	<h1>Classifica presenze</h1>
	{% for key, caldesc in calendars.items %}
		<h2>{{ caldesc.name }}</h2>
		<table class="calendar tablesorter {{ caldesc.tags }}">
			<thead>
			<tr>
				<th>Conducente</th>
				<th></th>
			</tr>
			</thead>
			<tbody>
			{% for c in caldesc.rank %}
				<tr>
					<td>{{ c.name }}</td>
					<td>
						<a href="{% url 'calendariopresenze-view' year c.conducente_id key %}">{{ c.value|default:0 }}</a>
					</td>
				</tr>
			{% endfor %}
			</tbody>
		</table>

		<br/>
	{% endfor %}

{% endblock %}
