#board .message {
    font: 12px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
    position: relative;
    border: 1px solid black;
    padding: 10px;
    /*background-color: #ffe;*/
    border-radius: 5px;
    /*float: left;*/
    /*max-width:30%;*/
    margin: 10px;
    display: inline-block;
    min-width: 200px;
    vertical-align: middle;
}

.new {
    border: 3px solid yellow;
    background-color: lightgoldenrodyellow;
}

#board .attachment-mark {
    position: absolute;
    left: -20px;
    bottom: 10px;
    width: 32px;
    height: 32px;
    background: url(/media/attachment.png)
    /*top:-12px;*/
}

#board .attachment {
    background-color: azure;
    margin-top: 10px;
    padding: 5px;
}

#board .del-mark {
    width: 31px;
    height: 31px;
    background: url(/media/x_del.png);
    cursor: pointer;
    position: absolute;
    right: -15px;
    top: -12px;
    display: none;
}

#board .message:hover .del-mark{
    display: block;
}

#board .head {
    background-color: #DFF0D8;
    padding: 1px 0;
    border-radius: 3px;
    position: relative;
}

#board .head>.date {
    display: inline;
    margin: 0 5px 0 0;
}

#board .head>.author {
    /*display: inline;*/
    /*float:right;*/
    position: absolute;
    right: 0;
    top: 0;
}

#board .message .m {
    padding: 0;
    white-space: pre-line;
}

#newMessageBoard {
    clear: both;
}

#newMessageBoard #m {
    width: 100%;
    padding: 0;
    margin: 0;
}

#newMessageBoard input[type=submit] {
}

#status {
    padding: 3px 10px;
}

#status.error {
    background-color: indianred;
    color: white;
    font-weight: bold;
}

#status.warning {
    background-color: lightgoldenrodyellow;
    color: black;
}

#status.success {
    background-color: #008000;
    color: white;
}
