$back-color: #FBFFBA;
$back-hilight: #FE9;

.supplementari {
  text-align: center;
  margin: 3px;
  padding: 0;
}

.morning {
  float: left;
  padding: 0 3px;
}

.evening {
  float: right;
  padding: 0 3px;
}

.tablesorter {
  /*border-collapse: collapse;*/
  font-family: "arial", sans-serif;
  background-color: #CDCDCD;
  margin: 10px 0 15px;
  width: 100%;
  font-size: 8pt;
  text-align: left;

  th {
    background-color: $back-hilight;
    padding: 4px;
  }

  td {
    color: #3D3D3D;
    padding: 4px;
    background-color: #ffffff;
  }
}

.noteViaggio, .notePasseggero, .notePrenotazione, .noteCliente, .noteArrivo {
  white-space: pre-line;
  border-radius: 5px;
  margin-top: 3px;
}

.notePasseggero, .notePrenotazione, .noteCliente, .noteArrivo {
  background-color: lightyellow;
}


html {
  height: 100%;
}

body {
  min-height: 100%;
  color: #3d3d3d;
  text-align: center;
  background-color: $back-color;
  margin: 0;
  padding: 8px;
  box-sizing: border-box;
}

a, a:visited {
  color: green
}

a:hover {
  color: blue;
}

.clock {
  padding-top: 3px;
  height: 22px;
  float: right;
  margin-top: -4px;
  margin-right: 13px;
  text-align: right;
  font-family: sans-serif;
  font-size: 1.5em;
}

.loghetto {
  border: 3px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 8px;
  right: 10px;
}

.navBar {
  text-align: left;
  width: auto;
  background: white url(../img/header_fade.png) repeat-x top;
  /*max-width: 100%;*/
  /*min-width: 600px;*/
  left: 0;
  right: 0;
  top: 0;
  margin: 0;
  /*margin: 0 30px auto;*/
  padding: 3px 20px;
  /*border: medium rgb(255, 204, 102) groove;*/
  font-weight: bold;
  position: fixed;
  z-index: 900;
  border-bottom: 1px solid;
}

.navBar a {
  color: #3D3D3D;
  font-weight: normal;
  display: inline-block;
  padding: 5px 20px;
  background: rgba(255, 255, 255, 0.2);
  text-decoration: none;
  font-family: sans-serif;
  /*border: 1px solid;*/
}

.navBar a:hover {
  background: white;
}

#footer {
  text-align: left;
  margin: 0 30px auto;
  max-width: 100%;
  /*min-width: 600px;*/
  font-size: .7em;
  font-family: sans-serif;
  /*border-top: 1px solid black;*/
  padding-top: 5px;

  &:after {
    display: block;
    content: '';
    clear: both;
  }
}

.navBar .menuGroup:not(:first-child) {
  margin-left: 1.8em;
}

.content {
  max-width: 100%;
  /*min-width: 600px;*/
  text-align: justify;
  background: white url(../img/v-grad-inv.png) repeat-x bottom;
  margin: 3em 5px auto;
  padding: 5px 10px 40px 10px;
  border: 1px solid silver;
}

.mainlogo {
  margin: 0;
}

.mainlogo img {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 1.1em;
  margin-top: 0;
  margin-bottom: 0;
}

.credits {
  /* il link ai credits nel footer */
  float: right;
  margin: 0;

}

.credits a {
  text-decoration: none;
  color: #3D3D3D;
}

.errorlist li, .errorlist {
  color: red;
  font-weight: bold;
  list-style: none;
  padding: 0;
  margin: 0;
}

.errorlist {
  margin-bottom: 0
}

a.errorlist {
  color: red;
}

form p {
  margin-top: 0
}

form label {
  font-weight: bold;
}

p img {
  /* Keep the images (buttons) centered */
  vertical-align: text-bottom;
}

p textarea {
  vertical-align: text-top;
  height: 5em;
}

a img {
  border: 0;
}

form input {
  margin: 5px;

  &[type=checkbox], &[type=radio] {
    zoom: 1.5;
    vertical-align: middle;
  }
}

form {
  font-size: .8em;
  font-family: sans-serif;
}

.buttons {
  text-align: center;
}

#id_numero_passeggeri {
  /* l'input per i passeggeri è più corto */
  width: 3em;
}

.messages {
  margin: 0 auto;
  padding: 0;
  position: fixed;
  right: 150px;
  left: 150px;
  font-size: smaller;
  text-align: center;
  cursor: pointer;
  font-weight: bolder;
  z-index: 1000;

  div {
    padding: 3px;
    margin: 2px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 2px solid #fbeed5;
    border-radius: 4px;
  }
}

.success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}

.error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}

.debug {
  background-color: #ccc;
  border-color: #aaa;
  color: #666;
}

.info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}

td img {
  vertical-align: middle;
}

.trip_detail {
  font-size: smaller;
}

.hbar {
  border: 1px black solid;
  height: 10px;
}

.bighour {
  font-size: 200%;
}

.middlehour {
  font-size: 1.5em;
}

.row1 td {
}

.row2 td {
  background-color: red; /*#f9f9f9;*/
}

.inattivo td {
  background-color: plum !important;
}

.partenza {
  background: lightgreen !important;
  border: 1px solid green;
  text-align: center;
  font-size: larger;
}

.type-arrivo {
  display: inline-block;
  background-color: tomato;
  color: black;
  padding: 1px 5px;
}

.type-partenza {
  display: inline-block;
  background-color: lightgreen;
  color: black;
  padding: 1px 5px;
}

.arrivo {
  background: tomato !important;
  border: 1px solid #b70000;
  text-align: center;
  font-size: larger;
}

.cliente {
  font-size: larger;
  font-weight: bolder;
}

#selActions {
  display: none;
  background: white;
  text-align: center;
  position: fixed;
  top: 100px;
  left: 0;
  width: 30px;
  border: silver 1px solid;
}

#selActions a {
  padding: 10px 0;
  margin: 10px 0;
  display: block;
}

/* paginator */
.countblock {
  clear: both;
  float: right;
  font-size: smaller;
}

.countblock a {
  text-decoration: none;
}

.countblock .page {
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid silver;
}

.countblock .blankpage {
  padding-left: 10px;
  padding-right: 10px;
}

.countblock .selected {
  background: silver;
  color: black;
}

#filterForm {
  margin: 0;
  padding: 0;
}

#listaCorsePadding {
  /* all'inizio della lista corse per non farla coprire dai search filter */
  height: 2em;
}

#filterForm #select_clienti {
  width: 130px;
}

#filterForm > div {
  float: right;
  text-align: right;
}

#id_note {
  width: 90%;
  height: 10em;
  font-size: 1.5em;
}

#esclusivoBlock {
  display: inline;
}

#esclusivoBlock ul {
  /* la choice blocco esclusivo */
  list-style-type: none;
}

#esclusivoBlock li {
  /* la choice blocco esclusivo */
  display: inline;
}

.btnbox {
  background: white url(../img/v-grad-inv.png) repeat-x bottom;
  text-align: center;
  float: left;
  width: 120px;
  height: 100px;
  padding: 10px;
  margin: 10px;
  border: 2px ridge black;
}

.btnbox img {
  margin: 6px auto 0;
  display: block;
  text-align: center;
}

.super {
  border-color: red;
}

.bigButton {
  width: 400px;
  font-size: larger;
}

.today {
  font-size: 1.2em;
  font-weight: bold;
}

.viaggioId {
  /* i checkbox per selezionare i viaggi nella lista corse */
  cursor: pointer;
  display: block;
  margin: 5px auto;
}

.accordhead {
  /* La testa cliccabile nei div simili agli accordion */
  font-size: 1.5em;
  cursor: pointer;
  padding: 20px 0 20px 0;
  text-decoration: underline;
}

.lordo {
  /* span con il prezzo lordo */
  font-weight: bold;
  font-size: 1.2em; /* era 1.1 */
}

.lordo.error {
  font-size: 1.5em;
  color: red;
}

.advFilters input {
  /* il filtro data avanzato, abbrevio gli input */
  width: 75px;
}

.floatingBlock {
  /* i div galleggianti con degli strumenti */
  position: absolute;
  left: -13px;
  margin-top: 50px;
  top: 30px;
  text-align: center;
  padding: 10px;
  width: 30px;
}

/* colori indicatori di fattura */
.fatturaIcon {
  display: block;
  padding: 3px 0;
  width: 52px;
  margin: 0 auto;
}

h2.fatturaTipo1 {
  color: #0080ff;
}

.fatturaTipo1 th, .fatturaTipo1Back {
  background: #0080ff;
}

.fatturaTipo1 input {
  background: #0080ff;
  padding: 10px;
  width: 100%;
  font-size: 1.2em;
}

.fatturaTipo1 table {
  border: 3px solid #0080ff;
}

h2.fatturaTipo2 {
  color: #8000ff;
}

.fatturaTipo2 th, .fatturaTipo2Back {
  background: #8000ff;
}

.fatturaTipo2 input {
  background: #8000ff;
  padding: 10px;
  width: 100%;
  font-size: 1.2em;
}

.fatturaTipo2 table {
  border: 3px solid #8000ff;
}

h2.fatturaTipo3 {
  color: #008000;
}

.fatturaTipo3 th, .fatturaTipo3Back {
  background: #008000;
}

.fatturaTipo3 input {
  background: #008000;
  padding: 10px;
  width: 100%;
  font-size: 1.2em;
}

.fatturaTipo3 table {
  border: 3px solid #008000;
}

h2.fatturaTipo4 {
  color: #008080;
}

.fatturaTipo4 th, .fatturaTipo4Back {
  background: #008080;
}

.fatturaTipo4 input {
  background: #008080;
  padding: 10px;
  width: 100%;
  font-size: 1.2em;
}

.fatturaTipo4 table {
  border: 3px solid #008080;
}

h2.fatturaTipo5 {
  color: #800080;
}

.fatturaTipo5 th {
  background: #800080;
}

.fatturaTipo5 input {
  background: #800080;
  padding: 10px;
  width: 100%;
  font-size: 1.2em;
}

.fatturaTipo5 table {
  border: 3px solid #800080;
}

.dati {
  /* i dati di clienti nelle tabelle */
  white-space: pre-line;
  color: gray;
}

.prezzo {
  text-align: right;
}

#fatturaHtml {
  width: 100%;
}

.cellaPrezzo a {
  font-weight: bold; /*nella cella prezzo, i link (il netto) sono in grossetto */
}

.cellaPrezzo img, .cellaPrezzo .sprite {
  display: block;
  margin: 0 auto;
}

#listaCorse select {
  text-align: center;
  /*padding: 5px 10px;*/
  width: 100%;
  display: block;
}

#listaCorse th:nth-child(5), #listaCorse td:nth-child(5) {
  min-width: 300px;
}

/************** CALENDARIO **************/
#calendar_man {
  margin: 0;
}

#calendar_man table td, #calendar_man table th {
  width: 15em;
}

#calendar_man table tr td:first-child, #calendar_man table tr th:first-child {
  width: auto;
  min-width: 20em;
}

#calendar_man .del, #calendar_man .toggle {
  float: right;
  margin-left: 2px;
}

.calendar_new {
  border: 1px ridge gray;
  margin: 20px 0;
  padding: 10px;
  background-color: #eee;
  display: inline-block;
  text-align: right;
}

.calendar_new form {
  display: inline-block;
}

.calendar_new input, .calendar_new select, .calendar_new option {
  margin: 0;
  padding: 0;
  border: 0;
}

.calendar_new button {
  /*width: 100%;*/
}

.cal_office, .cal_office th {
  background-color: #8fa4ff;
}

.cal_riposo, .cal_riposo th {
  background-color: #94f47e;
}

.cal_ferie, .cal_ferie th {
  background-color: #ffc74a;
}

input.error {
  box-shadow: 0 0 10px 0 rgba(225, 14, 0, 1);
}

/* end of calendar */

#listaCorse select option.cal_inactive {
  background-color: #e5edff;
  color: #adb4c2;
}

#listaCorse select option.cal_travel {
  background-color: #f4f010;
  color: black;
}

.left-padded {
  padding-left: 2em;
}

/* ************************ */
.actionButton {
  cursor: pointer;
}

select, input {
  /* all input should have a minimal height */
  /*min-height: 32px;*/
  padding: 5px 10px;
}

/* TABLET and smaller */
@media only screen and (max-device-width: 1024px) {
}

/*PHONES*/
@media only screen and (max-device-width: 1023px) and (orientation: portrait) {
  .trip_detail {
    display: none;
  }
  .note {
    max-width: 100px !important;
  }
  .cellaPrezzo {
    max-width: 100px !important;
  }
  .cellaPrezzo *:not(a):not(img):not(.lordo) {
    /* hide some price detail */
    display: none;
    /*color: silver;*/
  }
}

@media print {
  /* print stylesheet */
  * {
    font-size: 8pt;
  }

  body {
    background: white;
  }

  .content {
    border: 0;
    margin: 0;
    padding: 0;
    background: white;
  }

  .noprint {
    display: none;
  }
}

.note {
  max-width: 400px;
  word-wrap: break-word;
}

.warning td {
  background: url(../img/v-grad-red.png) repeat-x bottom;
}

.prenotazione {
  background-color: $back-hilight !important;
}

.annullato td {
  background-color: #AAA !important;
}

.even td {
  background-color: #EEE;
}

.odd td {
  background-color: #FFF;
}

input[type="button"], input[type="submit"], input[type="reset"], input[type="file"], button {
  min-height: 30px;
  padding: 1em 2em;
}

#overlay {
  position: fixed;
  background-color: rgba(255, 255, 255, 50);
  left: 50%;
  top: 40%;
  width: 300px;
  /*height: 200px;*/
  /*margin-top: -100px;*/
  margin-left: -150px;
  font-size: 2em;
  font-family: Times, Georgia, serif;
  text-align: center;
  z-index: 1000;
}

.sprite {
  display: inline-block;
  vertical-align: middle;
}

.clearfix {
  clear: both;
}

.hasDatepicker, .time-widget {
  width: 68px;
}

.btn {
  display: inline-block;
  padding: 6px 10px;
  background: #f3f3f3;
  color: black;
  text-decoration: none;
  margin: 10px 5px;
  border: 1px solid black;
    border-radius: 4px;

  &:visited {
    color: black;
  }
}

@import "stats";
@import "fullmessage";
