.supplementari {
	text-align: center;
	margin: 3px;
	padding: 0;
}

.morning {
	float: left;
	padding: 0 3px;
}

.evening {
	float: right;
	padding: 0 3px;
}

.tablesorter {
	font-family: "arial", sans-serif;
	background-color: #CDCDCD;
	margin: 10px 0 15px;
	width: 100%;
	font-size: 8pt;
	text-align: left;
}

.tablesorter th {
	background-color: #fed587;
	border: 1px solid #FFF;
	padding: 4px;
}

.tablesorter td {
	color: #3D3D3D;
	padding: 4px;
	background-color: #ffffff;
}

.notePasseggero {
	background-color: lightyellow;
}

body {
	text-align: center;
	background: white url(../img/v-grad-yellow.png) repeat-x fixed;
}

a, a:visited {
	color: green
}

a:hover {
	color: blue;
}

.loghetto {
	border: 3px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 2px;
	right: 10px;
}

.navBar {
	text-align: left;
	width: auto;
	background: white url(../img/header_fade.png) repeat-x top;
	/*max-width: 100%;*/
	min-width: 600px;
	left: 38px;
	right: 38px;
	top: 0;
	margin: 0;
	/*margin: 0 30px auto;*/
	padding: 3px 10px;
	border: medium rgb(255, 204, 102) groove;
	font-weight: bold;
	position: fixed;
	z-index: 900;
}

#footer {
	text-align: left;
	margin: 0 30px auto;
	max-width: 100%;
	min-width: 600px;
	font-size: .7em;
	font-family: sans-serif;
}

.navBar .menuGroup:not(:first-child) {
	margin-left: 1.8em;
}

.content {
	max-width: 100%;
	min-width: 600px;
	text-align: justify;
	background: white url(../img/v-grad-inv.png) repeat-x bottom;
	margin: 2em 30px auto;
	padding: 5px 10px 40px 10px;
	border: medium rgb(255, 204, 102) groove;
}

.mainlogo {
	margin: 0;
}

.mainlogo img {
	margin: 0;
	padding: 0;
}

h2 {
	font-size: 1.1em;
	margin-top: 0;
	margin-bottom: 0;
}

.credits {
	/* il link ai credits nel footer */
	float: right;
	margin: 0
}

.credits a {
	text-decoration: none;
	color: black;
}

.errorlist li, .errorlist {
	color: red;
	font-weight: bold;
	list-style: none;
	padding: 0;
	margin: 0;
}

.errorlist {
	margin-bottom: 0
}

a.errorlist {
	color: red;
}

form p {
	margin-top: 0
}

form label {
	font-weight: bold;
}

p img {
	/* Keep the images (buttons) centered */
	vertical-align: text-bottom;
}

p textarea {
	vertical-align: text-top;
	height: 5em;
}

a img {
	border: 0;
}

form input {
	margin-right: 1em;
}

form {
	font-size: .8em;
	font-family: sans-serif;
}

.buttons {
	text-align: center;
}

#id_numero_passeggeri {
	/* l'input per i passeggeri è più corto */
	width: 3em;
}

.messages {
	margin: 0 auto;
	padding: 0;
	position: fixed;
	right: 150px;
	left: 150px;
	font-size: smaller;
	text-align: center;
	cursor: pointer;
	font-weight: bolder;
	z-index: 1000;
}

.messages div {
	padding: 3px;
	margin: 2px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	background-color: #fcf8e3;
	border: 2px solid #fbeed5;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.messages div.success {
	background-color: #dff0d8;
	border-color: #d6e9c6;
	color: #468847;
}

.messages div.error {
	background-color: #f2dede;
	border-color: #eed3d7;
	color: #b94a48;
}

.messages div.debug {
	background-color: #ccc;
	border-color: #aaa;
	color: #666;
}

.messages div.info {
	background-color: #d9edf7;
	border-color: #bce8f1;
	color: #3a87ad;
}

td img {
	vertical-align: middle;
}

.trip_detail {
	font-size: smaller;
}

.hbar {
	border: 1px black solid;
	height: 10px;
}

.bighour {
	font-size: 200%;
}

.middlehour {
	font-size: 1.5em;
}

.row1 td {
}

.row2 td {
	background-color: red; /*#f9f9f9;*/
}

.inattivo td {
	background-color: plum !important;
}

.partenza {
	background: lightgreen !important;
	border: 1px solid green;
	text-align: center;
	font-size: larger;
}

.arrivo {
	background: tomato !important;
	border: 1px solid #b70000;
	text-align: center;
	font-size: larger;
}

.cliente {
	font-size: larger;
	font-weight: bolder;
}

#selActions {
	display: none;
	background: white;
	text-align: center;
	position: fixed;
	top: 100px;
	left: 2px;
	border: silver 2px ridge;
}

/* paginator */
.countblock {
	clear: both;
	float: right;
	font-size: smaller;
}

.countblock a {
	text-decoration: none;
}

.countblock .page {
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid silver;
}

.countblock .blankpage {
	padding-left: 10px;
	padding-right: 10px;
}

.countblock .selected {
	background: silver;
	color: black;
}

#filterForm {
	margin: 0;
	padding: 0;
}

#id_note {
	width: 90%;
	height: 10em;
	font-size: 1.5em;
}

#esclusivoBlock {
	display: inline;
}

#esclusivoBlock ul {
	/* la choice blocco esclusivo */
	list-style-type: none;
}

#esclusivoBlock li {
	/* la choice blocco esclusivo */
	display: inline;
}

.btnbox {
	background: white url(../img/v-grad-inv.png) repeat-x bottom;
	text-align: center;
	float: left;
	width: 120px;
	height: 100px;
	padding: 10px;
	margin: 10px;
	border: 2px ridge black;
}

.btnbox img {
	margin: 6px auto 0;
	display: block;
	text-align: center;
}

.super {
	border-color: red;
}

.bigButton {
	width: 400px;
	font-size: larger;
}

.today {
	font-size: 1.2em;
	font-weight: bold;
}

.viaggioId {
	/* i checkbox per selezionare i viaggi nella lista corse */
	display: block;
	margin: 0 auto;
}

.accordhead {
	/* La testa cliccabile nei div simili agli accordion */
	font-size: 1.5em;
	cursor: pointer;
	padding: 20px 0 20px 0;
	text-decoration: underline;
}

.lordo {
	/* span con il prezzo lordo */
	font-weight: bold;
	font-size: 1.2em; /* era 1.1 */
}

.lordo.error {
	font-size: 1.5em;
	color: red;
}

.advFilters input {
	/* il filtro data avanzato, abbrevio gli input */
	width: 75px;
}

.floatingBlock {
	/* i div galleggianti con degli strumenti */
	position: absolute;
	left: 2px;
	text-align: center;
	padding: 10px;
	width: 30px;
}

/* colori indicatori di fattura */
.fatturaIcon {
	display: block;
	padding: 3px 0;
	width: 52px;
	margin: 0 auto;
}

h2.fatturaTipo1 {
	color: #0080ff;
}

.fatturaTipo1 th, .fatturaTipo1Back {
	background: #0080ff;
}

.fatturaTipo1 input {
	background: #0080ff;
	padding: 10px;
	width: 100%;
	font-size: 1.2em;
}

.fatturaTipo1 table {
	border: 3px solid #0080ff;
}

h2.fatturaTipo2 {
	color: #8000ff;
}

.fatturaTipo2 th, .fatturaTipo2Back {
	background: #8000ff;
}

.fatturaTipo2 input {
	background: #8000ff;
	padding: 10px;
	width: 100%;
	font-size: 1.2em;
}

.fatturaTipo2 table {
	border: 3px solid #8000ff;
}

h2.fatturaTipo3 {
	color: #008000;
}

.fatturaTipo3 th, .fatturaTipo3Back {
	background: #008000;
}

.fatturaTipo3 input {
	background: #008000;
	padding: 10px;
	width: 100%;
	font-size: 1.2em;
}

.fatturaTipo3 table {
	border: 3px solid #008000;
}

h2.fatturaTipo4 {
	color: #008080;
}

.fatturaTipo4 th, .fatturaTipo4Back {
	background: #008080;
}

.fatturaTipo4 input {
	background: #008080;
	padding: 10px;
	width: 100%;
	font-size: 1.2em;
}

.fatturaTipo4 table {
	border: 3px solid #008080;
}

h2.fatturaTipo5 {
	color: #800080;
}

.fatturaTipo5 th {
	background: #800080;
}

.fatturaTipo5 input {
	background: #800080;
	padding: 10px;
	width: 100%;
	font-size: 1.2em;
}

.fatturaTipo5 table {
	border: 3px solid #800080;
}

.dati {
	/* i dati di clienti nelle tabelle */
	white-space: pre-line;
	color: gray;
}

.prezzo {
	text-align: right;
}

#fatturaHtml {
	width: 100%;
}

.cellaPrezzo a {
	font-weight: bold; /*nella cella prezzo, i link (il netto) sono in grossetto */
}

#listaCorse select {
	text-align: center;
	padding: 5px 10px;
	width: 100%;
	display: block;
}

/************** CALENDARIO **************/
#calendar_man {
	margin: 0;
}
#calendar_man table td, #calendar_man table th {
	width: 15em;
}
#calendar_man table tr td:first-child, #calendar_man table tr th:first-child {
	width: auto;
	min-width: 20em;
}
#calendar_man .del {
	float: right
}
.calendar_new {
	border: 1px ridge gray;
	margin: 20px 0;
	padding: 10px;
	background-color: #eee;
	display: inline-block;
}

.calendar_new input, .calendar_new select, .calendar_new option {
	width: 100%;
	margin: 0;
	padding: 0;
	border: 0;
}

.cal_office, .cal_office th {
	background-color: #8fa4ff;
}

.cal_riposo, .cal_riposo th {
	background-color: #94f47e;
}
.cal_ferie, .cal_ferie th {
	background-color: #f2f481;
}

#listaCorse select option.cal_inactive {
	background-color: #e5edff;
	color: #adb4c2;
}

#listaCorse select option.cal_travel {
	background-color: #f4f010;
	color: black;
}

/* ************************ */
.actionButton {
	cursor: pointer;
}

@media print {
	/* print stylesheet */
	* {
		font-size: 8pt;
	}

	body {
		background: white;
	}

	.content {
		border: 0;
		margin: 0;
		padding: 0;
		background: white;
	}

	.noprint {
		display: none;
	}
}

.note {
	max-width: 400px;
}

.warning td {
	background-image: url(../img/v-grad-red.png);
	background-repeat: repeat-x;
	background-position: bottom;
}

.prenotazione {
	background-color: #FE9 !important;
}

.annullato td {
	background-color: #DDD !important;
}

.even td {
	background-color: #F5F5F5;
}

.odd td {
	background-color: #FFF;
}

input[type="button"], input[type="submit"], input[type="reset"], input[type="file"], button {
	height: 30px
}

/* viaggio figlio */
i.vfat {
	width: 15px;
	height: 23px;
	display: block;
	margin: 3px auto;
	background-image: url(../img/frecciagiu.png);
}

i.vson {
	width: 24px;
	height: 17px;
	margin: 3px auto;
	display: block;
	background-image: url(../img/frecciaverde.png);
}

#overlay {
	position: fixed;
	background-color: rgba(255, 255, 255, 50);
	left: 50%;
	top: 40%;
	width: 300px;
	/*height: 200px;*/
	/*margin-top: -100px;*/
	margin-left: -150px;
	font-size: 2em;
	font-family: Times, Georgia, Serif;
	text-align: center;
	z-index: 1000;
}
